/**
* Custom stylesheet
*/

/* Top menu */
/*#top-menu { background-color: #807F83; } */
#top-menu { background-color: #581980; }
#top-menu img.sas-logo { margin-right: 10px; }

/* Home page tile styling */
#home-page-tile-section > .ui.card {
    height: 150px;
}

.home-page-card-padded {
    padding-top: 50px !important;
}

#home-page-about-us-link-item {
    margin: auto;
    width: 62%;
}

#home-page-about-us-card-content {
    background-color: #f8f8f9; /* light grey */
}

#home-page-view-students-card-content {
    background-color: #e6e7fe; /*pastel blue */
}

#home-page-populate-tables-card-content {
    background-color: #ffe6ef; /* pastel pink */
}

#home-page-admission-rules-card-content {
    background-color: #fff7e6; /* pastel orange */
}

#home-page-distribution-results-card-content {
     background-color: #e9fcf5; /* pastel green */
}

#home-page-manage-records-card-content {
    background-color: #f4eafb;
}

/* Container */
div.ui.body.container {
  position: relative;
  top: 82px;
}

/* Create item */
div.create-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 200; }
div.create-bg div.column { width: 400px !important; }
div.create-bg div.field { text-align: left; }

/* Student create and edit */
div.create-student {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 200; }
div.create-student div.column { width: 650px !important; }
div.create-student div.field { text-align: left; }

/* Logical Expression create and edit */
div.create-expression {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 200; }
div.create-expression div.column { width: 1000px !important; }
div.create-expression div.field { text-align: left; }

/* Admission Rule create and edit */
div.create-rule {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 200; }
div.create-rule div.column { width: 550px !important; }
div.create-rule div.field { text-align: left; }

button.create-button { font-weight: 100 !important; }
div.margin-5 { padding-top: 4px; }

/* Hide row icons */
td.right.aligned > button { visibility: hidden; }
td.right.aligned > div > button { visibility: hidden; }

/* Utility Styles */
.right { text-align: right; }

/* Padding For Logical-Expression-Create Instances */
.expressionPadding {
  padding-top: 1em;
  padding-bottom: 1em;
}

.ui.action.input input[type="file"] {
  display: none;
}

/* Force Form Error Messages to be displayed NOTE: This is not being used right now, we are using inline error messages instead */
.ui.compact.error.message {
  display: block;
  margin-left: 25%;
  margin-right: 25%;
}

/* Red color scheme (currently used for form input items that contain invalid inputs) */
.field-error {
  border-color: #e0b4b4 !important;
  background: #fff6f6 !important;
  color: #9f3a38 !important;
}

.ui.centered.segment {
  margin-left: 15%; /* TODO: Try auto */
  margin-right: 15%;
}

.three-button-table-row {
  width: 75%;
}

/* Overwrite default ember styling for divdiers in dropdown menus (to have no top border) */
.ui.dropdown .menu > .divider {
  border-top: none;
  height: 0em;
  margin: 0.5em 0em;
}

div.login-wrapper {
  position: absolute; top: 0; left: 0; bottom: 0; right: 0;
  background-color: #EEEEEE;
}
div.ui.middle.login.grid { height: 100%; }
div.login.column { max-width: 450px; }

table.ui.very.basic td {
  border-top: 1px solid rgba(34, 36, 28, .1);
}
table.ui.very.basic td.top {
  border-top: none;
}
table.ui.very.basic td.bottom {
  border-bottom: 1px solid rgba(34, 36, 28, .1);
}
table.ui.very.basic td.bottom a {
  margin-right: 10px;
}

#add-rule-button {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* TODO: Not currently used */
.footer-header {
  margin-top: 10em;
  background-color: #999999; /* Dark grey */
}

/* A sticky footer with a grey background */
.footer {
  background-color: #ededed;  /* Light Grey */
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main-outlet {
  margin-bottom: 2em;
}

.float-right {
  float: right;
}

.float-left  {
  float: left;
}

.name-list {
  margin-top: 1%;
}

.fullWidth {
  width: 100% !important;
}

.horizontally-centered {
  margin: auto !important;
}

.expression-divider.ui.divider {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* Center an info message inside a table */
.ui.info.message.centered {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* File Uploading */
.ui.file-upload.grid {
  max-width: 900px;
  background-color: #F8F8F9;
  margin: 25px auto 0 auto;
  border-radius: 10px;
  border: 1px dashed #C9CACB;
}

/* Center dropdown menu items */
.ui.menu .ui.dropdown .menu > .item {
  text-align: center !important;
}

/* Force all the cards in /records to be the same height */
.ui.stackable.grid > .four.wide.column > .ui.card {
  min-height: 100%;
}

.purple { background-color: #4F2683 !important; }

body {
  background: #FFFFFF url('images/bigshield.png') no-repeat 50% 0;
}
