<td>
    <span>{{academicProgramCode.name}}</span>
</td>
<td>
    <span id="{{academicProgramCode.id}}-rule">{{getValue academicProgramCode 'rule' 'description' academicProgramCode.rule.description (concat academicProgramCode.id '-rule')}}</span>
</td>
<td>
    <span id="{{academicProgramCode.id}}-code">{{getValue academicProgramCode 'commentCode' 'code' academicProgramCode.commentCode.code (concat academicProgramCode.id '-code')}}</span>
</td>
<td class="right aligned">

    <!-- New edit component -->
    {{#if isEditingProgram}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <form class="ui form">
                    <div class="ui stacked segment">

                        <!-- Dynamic header to display which Program is being edited -->
                        <h2 class="ui header">Edit {{academicProgramCode.name}}</h2>

                        <!-- Get new program name -->
                        <div id="nameInput" class="field">
                            <label>New Program Name</label>
                            {{input id="academic-program-code-item-name" type="text" placeholder=academicProgramCode.name value=name autofocus="true"}}
                        </div>

                        <!-- Dropdown To Select Admission Rule -->
                        <div class="field">
                            <label>Admission Rule</label>
                                {{#ui-dropdown id="academic-program-code-item-rule" class="selection" onChange=(action "setRuleId")}}
                                    <div class="default text"></div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        {{#each rules as |rule|}}
                                            <div data-value="{{rule.id}}" class="item">{{rule.description}}</div>
                                        {{/each}}
                                    </div>
                                {{/ui-dropdown}}
                        </div>

                        <!-- Dropdown To Select Comment Code -->
                        <div class="field">
                            <label>Comment Code When Eligible</label>
                                {{#ui-dropdown id="academic-program-code-item-comment-code" class="selection" onChange=(action "setCommentCodeId")}}
                                    <div class="default text"></div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        {{#each commentCodes as |commentCode|}}
                                            <div data-value="{{commentCode.id}}" class="item">{{commentCode.code}}:&nbsp;{{commentCode.description}}</div>
                                        {{/each}}
                                    </div>
                                {{/ui-dropdown}}
                        </div>
                        <div class="ui grid">
                            <div class="eight wide column">
                                <button class="ui fluid green button" {{action "submitEditProgram" academicProgramCode.id name}}>
                                    Submit
                                </button>
                            </div>
                            <div class="eight wide column">
                                <button class="ui fluid button" {{action "cancelEditProgram"}}>Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {{else}}
        <button class="ui mini circular icon button" {{action "editAcademicProgramCode"}} title="Edit">
            <i class="edit icon"></i>
        </button>
    {{/if}}

    {{#if isRemoving}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <div class="ui stacked segment">
                    <h3 class="ui header">Are you sure you would like to delete {{academicProgramCode.name}}?</h3>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid red button" {{action "remove" academicProgramCode.id}}>Delete</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancelEditProgram"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    <button class="ui mini circular red icon button" {{action "warning"}} title="Delete">
        <i class="remove icon"></i>
    </button>
</td>
