{{#if isCreating}}
    <div class="create-bg ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui form">
                <div class="ui stacked segment">
                    <h2 class="ui header">New Academic Program Code</h2>

                    <div class="field">
                        <label>Name</label>
                        {{input id="academic-program-code-create-name" type="text" placeholder="Name..." key-down="onNameInput" value=name}}
                        {{#if nameError}}
                            <div class="ui basic red pointing prompt label transition visible">Please enter a name</div>
                        {{/if}}
                    </div>

                    <div class="field">
                        <label>Rule</label>
                        {{#ui-dropdown id="academic-program-code-create-rule" class="selection" onChange=(action "setRule")}}
                            <div class="default text">Select a rule</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {{#each admissionRules as |admissionRule|}}
                                    <div data-value="{{admissionRule.id}}" class="item">
                                        {{admissionRule.description}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/ui-dropdown}}
                        {{#if ruleError}}
                            <div class="ui basic red pointing prompt label transition visible">Please select a rule</div>
                        {{/if}}
                    </div>

                    <div class="field">
                        <label>Program Administrations</label>
                        {{#ui-dropdown id="academic-program-code-create-program-administration" class="selection multiple" onChange=(action "setDept")}}
                            <div class="default text">Select Program Administrations</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {{#each programAdministrations as |programAdministration|}}
                                    <div data-value="{{programAdministration.id}}" class="item">
                                        {{programAdministration.name}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/ui-dropdown}}
                        {{#if programAdministrationError}}
                            <div class="ui basic red pointing prompt label transition visible">Please select some program administrations</div>
                        {{/if}}
                    </div>

                    <div class="field">
                        <label>Comment Code When Eligible</label>
                        {{#ui-dropdown id="academic-program-code-create-comment-code" class="selection" onChange=(action "setCommentCode")}}
                            <div class="default text">Select a comment code</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {{#each commentCodes as |commentCode|}}
                                    <div data-value="{{commentCode.id}}" class="item">
                                        {{commentCode.code}}:&nbsp;{{commentCode.description}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/ui-dropdown}}
                        {{#if commentCodeError}}
                            <div class="ui basic red pointing prompt label transition visible">Please select a comment code</div>
                        {{/if}}
                    </div>

                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid green button" {{action "submit" name}}>Submit</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{else}}
    <div class="right">
        <button class="create-button ui tiny button positive" {{action "create"}}>Create Academic Program Code</button>
    </div>
{{/if}}
