<td class="three-button-table-row">
    <span>{{admission_rule.description}}</span>
</td>

<td class="right aligned">

    <!-- Details Portion -->
    {{#if isEdittingRule}}
        <div class="create-expression ui middle aligned center aligned grid">
            <div class="column">
                <form class="ui form">
                    <div class="ui stacked segment">
                        <h2 class="ui header">Edit Admission Rule</h2>
                        <div class="field">
                            <h4 class="ui dividing header">Admission Rule Description</h4>
                            {{textarea id="admission-rule-item-description" type="text" rows="2" value=admission_rule.description}}
                        </div>

                        <div class="field">
                            <h4 class="ui dividing header">Admission Rule Expressions</h4>
                        </div>
                        {{#each expressions as |rule|}}
                            {{logical-expression-item logical_expression=rule isFromCreatedRule=false}}
                        {{else}}
                            <p>There are no expressions for this rule yet.</p>
                        {{/each}}
                        {{#if notAddingRule}}
                            <button id="add-rule-button" class="create-button ui tiny button positive" {{action "addLogicalExpression"}}>Add Expression</button>
                        {{else}}
                            {{logical-expression-create isLinked=false onConfirm=(action "onExpressionCreated")}}
                        {{/if}}


                        <div class="ui grid">
                            <div class="eight wide column">
                                <button class="ui fluid green button" {{action "submitAdmissionRule" admission_rule.id admission_rule.description}}>Submit</button>
                            </div>
                            <div class="eight wide column">
                                <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {{/if}}

    {{#if isRemoving}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <div class="ui stacked segment">
                    <h3 class="ui header">Are you sure you would like to delete this admission rule?</h3>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid red button" {{action "remove" admission_rule.id}}>Delete</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    <button class="ui mini circular icon button" {{action "editRule" admission_rule.id}} title="Edit">
        <i class="edit icon"></i>
    </button>
    <button class="ui mini circular red icon button" {{action "warning"}} title="Delete">
        <i class="remove icon"></i>
    </button>

</td>
