{{#if ADM01IsPermitted}}

    <div class="ui grid">
        <div class="three wide column">
            <div class="ui secondary vertical menu" style="width: 100%;">
                <a class="active item" data-tab="users-tab">
                    Users<i class="users icon"></i>
                </a>
                <a class="item" data-tab="role-codes-tab">
                    Role Codes<i class="list layout icon"></i>
                </a>
                <a class="item" data-tab="role-permissions-tab">
                    Role Permissions<i class="lock icon"></i>
                </a>
            </div>
        </div>
        <div class="thirteen wide column">
            <div class="ui active tab" data-tab="users-tab">
                {{user-view}}
            </div>
            <div class="ui tab" data-tab="role-codes-tab">
                {{role-code-view}}
            </div>
            <div class="ui tab" data-tab="role-permissions-tab">
                {{role-permission-view}}
            </div>
        </div>
    </div>

<!--    <script>
        $(document).ready(function () {
            $('.vertical.menu .item').tab({history: false});
        });
    </script>-->

{{else}}

    <div class="ui centered grid">
        <div class="twelve wide column">
            <div class="ui negative message">
                <div class="header">
                    Access Denied: You do not have permission to access the administrator portal
                </div>
                <p>Please ask the system administrator for the permission code ADM01 to be added to your account</p>
            </div>
        </div>
    </div>

{{/if}}