{{#if isCreatingAdmissionRule}}
    <div class="create-expression ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui form">
                <div class="ui stacked segment">
                    <h2 class="ui header">New Admission Rule</h2>
                    <div class="field">
                        <label>Admission Rule Description</label>
                        {{textarea id="admission-rule-create-description" type="text" placeholder="description..." rows="2" key-down="descriptionEntered" value=description}}
                        {{#if descriptionError}}
                            <div class="ui basic red pointing prompt label transition visible">Please enter a description</div>
                        {{/if}}
                    </div>

                    <div class="field">
                        <h4 class="ui dividing header">Admission Rule Expressions</h4>
                    </div>
                    {{#each expressions as |rule|}}
                        {{logical-expression-item logical_expression=rule}}
                    {{else}}
                        <p>There are no expressions for this rule yet.</p>
                    {{/each}}
                    {{#if isCreatingExpression}}
                        {{logical-expression-create isLinked=false onConfirm=(action "onExpressionCreated")}}
                    {{else}}
                        <button id="add-rule-button" class="create-button ui tiny button positive" {{action "addLogicalExpression"}}>Add Expression</button>
                    {{/if}}


                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid green button" {{action "submitAdmissionRule" description}}>Submit</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancelCreateAdmissionRule"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{else}}
    <div class="right">
        <button class="create-button ui tiny button positive" {{action "createAdmissionRule"}}>Create Admission Rule</button>
    </div>
{{/if}}
