{{#if isPasswordChanging}}
    <h3 class="ui header">Your password expired, please change it:</h3>
    <form class="ui large form">
        <div class="ui stacked segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    {{input type="password" value=firstPassword placeholder="New Password"}}
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    {{input type="password" value=secondPassword placeholder="Re-enter New Password"}}
                </div>
            </div>
            <button class="ui fluid large green button" {{action 'save'}}>Save</button>
        </div>
    </form>
{{else}}
    <h2 class="ui image header">
        <img class="image" src="/assets/images/sas-logo_72.png">
        <div class="content">Student Admission System</div>
    </h2>
    <form class="ui large form">
        <div class="ui stacked segment">
            <div class="username field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    {{input type="text" value=name placeholder="User name"}}
                </div>
            </div>
            <div class="password field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    {{input type="password" name="password" value=password placeholder="Password"}}
                </div>
            </div>
            <button class="ui fluid large green button" {{action 'login'}}>Login</button>
        </div>
    </form>
{{/if}}