<div class="ui top grid">
    <div class="eight wide column">
        <h1 class="ui header">Basis of Admission Codes</h1>
    </div>
    <div class="eight wide right column">
        {{basis-of-admission-code-create}}
    </div>
</div>

<div class="dimmable">
    <div class="ui active inverted dimmer view">
        <div class="ui text loader" style="top: 96px;">Loading</div>
    </div>
    <table class="ui table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Basis of Admission</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{load}}
        {{#each codes as |code|}}
            {{basis-of-admission-code-item code=code}}
        {{/each}}
        </tbody>
    </table>
</div>