{{#if isCreating}}
    <div class="create-bg ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui form">
                <div class="ui stacked segment">
                    <h2 class="ui header">Basis of Admission</h2>

                    <div class="field">
                        <label>Student</label>
                        {{#ui-dropdown  id="student-field" class="search selection" onChange=(action "setStudentId")}}
                            <div class="default text">Select a student</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {{#each students as |student|}}
                                    <div data-value="{{student.id}}" class="item">
                                        {{student.firstName}} {{student.lastName}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/ui-dropdown}}
                        {{#if studentError}}
                            <div class="ui basic red pointing prompt label transition visible">Please select a student</div>
                        {{/if}} 
                    </div>

                    <div class="field">
                        <label>Date</label>
                        {{input type="date" id="basis-of-admission-create-date" value=date key-down="onDateInput" placeholder="BasisDate..." autofocus="true"}}
                        {{#if dateError}}
                            <div class="ui basic red pointing prompt label transition visible">Please enter a Date </div>
                        {{/if}}
                    </div>
                    <div class="field">
                        <label>Comment</label>
                        {{input type="text" id="basis-of-admission-create-comment" value=comment  key-down="onCommentInput" placeholder="Comment..." autofocus="true"}}
                        {{#if commentError}}
                            <div class="ui basic red pointing prompt label transition visible">Please enter a comment </div>
                        {{/if}}
                    </div>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid green button" {{action "submit" date comment}}>Submit</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{else}}
    <div class="right">
        <button class="create-button ui tiny button positive" {{action "create"}}>Create Basis Of Admission</button>
    </div>
{{/if}}
