<td>
    {{code.name}}
</td>
<td>
    {{load}}
    {{basis.comment}}
</td>
<td class="right aligned">
    <button class="ui mini circular icon button" {{action 'edit' code.id}} title="Edit">
        <i class="edit icon"></i>
    </button>
    <button class="ui mini circular red icon button" {{action 'warning'}} title="Delete">
        <i class="remove icon"></i>
    </button>
</td>

{{#ui-modal class="small view" onDeny=(action 'close')}}
    <i class="close icon"></i>
    <div class="header">Edit {{code.name}}</div>
    <div class="content">
        <form class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>Name</label>
                    {{input type="text" value=name}}
                </div>
                <div class="field">
                    <label>Basis of Admission</label>
                    {{#ui-dropdown class="admission search selection" onChange=(action 'setAdmission')}}
                        <div class="default text">Select Basis of Admission</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {{#each basisOfAdmissions as |basisOfAdmission|}}
                                <div data-value="{{basisOfAdmission.id}}" class="item">
                                    {{basisOfAdmission.comment}}
                                </div>
                            {{/each}}
                        </div>
                    {{/ui-dropdown}}
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui green deny button" {{action 'submit' code.id}}>Submit</div>
        <div class="ui deny button" {{action 'close'}}>Close</div>
    </div>
{{/ui-modal}}

{{#ui-modal class="small basic delete"}}
    <div class="ui icon header">
        <i class="remove icon"></i>
        Delete Basis of Admission Code {{code.name}}
    </div>
    <div class="content" style="text-align: center;">
        <p>Are you sure you would like to delete the basis of admission code {{code.name}}?</p>
    </div>
    <div class="actions">
        <div class="ui basic cancel inverted button" {{action 'close'}}>No</div>
        <div class="ui red ok inverted button" {{action 'remove' code.id}}>Yes</div>
    </div>
{{/ui-modal}}

<!--
<td>
	<span>{{basis_of_admission_code.name}}</span>
</td>
<td class="right aligned">

	{{#if isEditingBasisOfAdmissionCode}}
		<div class="create-bg ui middle aligned center aligned grid">
			<div class="column">
				<form class="ui form">
					<div class="ui stacked segment">
						<h2 class="ui header">Edit {{basis_of_admission_code.code}}</h2>
						<div class="field">
							<label>New Basis of Admission Code</label>
							{{input id="basis-of-admission-code-item-code" type="text" placeholder=basis_of_admission_code.code value=code}}
						</div>
						<div class="field">
                        	<label>New Name</label>
                      		{{input id="basis-of-admission-code-name" type="text" placeholder=basis_of_admision_code.name value=name}}
                    	</div>

						<div class="ui grid">
							<div class="eight wide column">
								<button class="ui fluid green button" {{action "submitBasisOfAdmissionCodeChanges" basis_of_admission_code.id name}}>
									Submit
								</button>
							</div>
							<div class="eight wide column">
								<button class="ui fluid button" {{action "cancelBasisOfAdmissionCodeChanges"}}>Cancel</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	{{/if}}

	{{#if isRemoving}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <div class="ui stacked segment">
                    <h3 class="ui header">Are you sure you would like to delete {{basis_of_admission_code.name}}?</h3>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid red button" {{action "remove" basis_of_admission_code.id}}>Delete</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancelBasisOfAdmissionCodeChanges"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}


	<button class="ui mini circular icon button" {{action "editBasisOfAdmissionCode"}} title="Edit">
		<i class="edit icon"></i>
	</button>
	<button class="ui mini circular red icon button" {{action "warning"}} title="Delete">
		<i class="remove icon"></i>
	</button>


	{{#unless isHidden}}
		<button class="ui mini circular red icon button" {{action "deleteCommentCode" comment_code.id}}>
			<i class="remove icon"></i>
		</button>
	{{/unless}}

</td>
-->