
<!--
{{#if isCreatingBasisOfAdmissionCode}}
    <div class="create-bg ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui form">
                <div class="ui stacked segment">
                    <h2 class="ui header">New Comment Code</h2>

                    <div class="field">
                        <label>Name</label>
                        {{input id="basis-of-admission-code-name" type="text" placeholder="Name..." key-down="onNameInput" value=name}}
                        {{#if nameError}}
                            <div class="ui basic red pointing prompt label transition visible">Please enter a Name</div>
                        {{/if}}
                    </div>

                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid green button" {{action "submitBasisOfAdmissionCode" code name}}>Submit</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancelCreateBasisAdmissionCode"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{else}}
    <div class="right">
        <button class="create-button ui tiny button positive" {{action "createBasisOfAdmissionCode"}}>Create Code</button>
    </div>
{{/if}}
-->

<button class="ui compact green button" {{action 'create'}}>
    <i class="plus icon"></i>
    Add Basis of Admission Code
</button>

{{#ui-modal class="small create" onDeny=(action 'close')}}
    <i class="close icon"></i>
    <div class="header">Add Basis of Admission Code to SAS</div>
    <div class="content">
        <form class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>Name</label>
                    {{input type="text" value=name placeholder="Name..."}}
                    {{#if nameError}}
                        <div class="ui basic red pointing prompt label transition visible">Please enter a name</div>
                    {{/if}}
                </div>
                <div class="field">
                    <label>Basis of Admission</label>
                    {{#ui-dropdown class="admission search selection" onChange=(action 'setAdmission')}}
                        <div class="default text">Select Basis of Admission</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {{#each basisOfAdmissions as |basisOfAdmission|}}
                                <div data-value="{{basisOfAdmission.id}}" class="item">
                                    {{basisOfAdmission.comment}}
                                </div>
                            {{/each}}
                        </div>
                    {{/ui-dropdown}}
                    {{#if basisError}}
                        <div class="ui basic red pointing prompt label transition visible">Please select a Basis of Admission</div>
                    {{/if}}
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui green deny button" {{action 'submit'}}>Create</button>
        <button class="ui deny button" {{action 'close'}}>Cancel</button>
    </div>
{{/ui-modal}}