<td>
    <span id="{{basisOfAdmission.id}}first">{{getValue basisOfAdmission 'student' 'firstName' 
        basisOfAdmission.student.firstName (concat basisOfAdmission.id 'first')}}</span>
    <span id="{{basisOfAdmission.id}}last">{{getValue basisOfAdmission 'student' 'lastName' 
        basisOfAdmission.student.lastName (concat basisOfAdmission.id 'last')}}</span>
</td>
<td>
    <span>{{basisOfAdmission.date}}</span>
</td>
<td>
    <span>{{basisOfAdmission.comment}}</span>
</td>
<td class="right aligned">

    {{#if isEditing}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <form class="ui form">
                    <div class="ui stacked segment">
                        <h2 class="ui header">Edit Basis of Admission</h2>
                        <div class="field">
                            <label>New Date</label>
                            {{input type="date"  value=date  placeholder="BasisDate..." autofocus="true"}}
                        </div>

                        <div class="field">
                            <label>Comment</label>
                            {{input type="text" value=comment  placeholder="Comment..." autofocus="true"}}
                        </div>

                        <div class="ui grid">
                            <div class="eight wide column">
                                <button class="ui fluid green button" {{action "submit" basisOfAdmission.id date comment}}>
                                    Submit
                                </button>
                            </div>
                            <div class="eight wide column">
                                <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {{/if}}

    {{#if isRemoving}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <div class="ui stacked segment">
                    <h3 class="ui header">Are you sure you would like to delete this Basis of Admission?</h3>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid red button" {{action "remove" basisOfAdmission.id}}>Delete</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    <button class="ui mini circular icon button" {{action "edit" basisOfAdmission.comment basisOfAdmission.date}} title="Edit">
        <i class="edit icon"></i>
    </button>
    <button class="ui mini circular red icon button" {{action "warning"}} title="Delete">
        <i class="remove icon"></i>
    </button>
</td>
