{{#if isCreating}}
    <div class="create-bg ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui form">
                <div class="ui stacked segment">

                    <h2 class="ui header">New City</h2>

                    <div class="field">
                        <label>Name</label>
                        {{input id="city-create-name" type="text" value=name key-down="cityInputEntered" placeholder="Name..." autofocus="true"}}
                        {{#if nameError}}
                            <div class="ui basic red pointing prompt label transition visible">Please enter a name</div>
                        {{/if}}
                    </div>

                    <div class="field">
                        <label>Province</label>
                        {{#ui-dropdown id="city-create-province" class="search selection" onChange=(action "setProvinceId")}}
                            <div class="default text">Select a Province</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {{#each provinces as |province|}}
                                    <div data-value="{{province.id}}" class="item">
                                        {{province.name}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/ui-dropdown}}
                        {{#if provinceError}}
                            <div class="ui basic red pointing prompt label transition visible">Please select a province</div>
                        {{/if}}
                    </div>

                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid green button" {{action "submit" name}}>Submit</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{else}}
    <div class="right">
        <button class="create-button ui tiny button positive" {{action "create"}}>Create City</button>
    </div>
{{/if}}
