<td>
    <span>{{city.name}}</span>
</td>
<td>
    <span id="{{city.id}}province">{{getValue city 'province' 'name' city.province.name (concat city.id 'province')}}</span>
</td>
<td class="right aligned">

    {{#if isEditing}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <form class="ui form">
                    <div class="ui stacked segment">

                        <h2 class="ui header">Edit {{city.name}}</h2>

                        <div class="field">
                            <label>New Name</label>
                            {{input id="city-item-name" type="text" value=name placeholder=city.name autofocus="true"}}
                        </div>

                        <div class="field">
                            <label>New Province</label>
                            {{#ui-dropdown id="city-item-province" class="search selection" onChange=(action "setProvinceId")}}
                                <div id="{{city.id}}oldProvince" class="default text">{{getValue city 'province' 'name' 'Select a province...' (concat city.id 'oldProvince')}}</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {{#each provinces as |province|}}
                                        <div data-value="{{province.id}}" class="item">
                                            {{province.name}}
                                        </div>
                                    {{/each}}
                                </div>
                            {{/ui-dropdown}}
                        </div>

                        <div class="ui grid">
                            <div class="eight wide column">
                                <button class="ui fluid green button" {{action "submit" city.id name}}>
                                    Submit
                                </button>
                            </div>
                            <div class="eight wide column">
                                <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {{/if}}

    {{#if isRemoving}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <div class="ui stacked segment">
                    <h3 class="ui header">Are you sure you would like to delete {{city.name}}?</h3>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid red button" {{action "remove" city.id}}>Delete</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    <button class="ui mini circular icon button" {{action "edit" city.name}} title="Edit">
        <i class="edit icon"></i>
    </button>
    <button class="ui mini circular red icon button" {{action "warning"}} title="Delete">
        <i class="remove icon"></i>
    </button>
</td>
