{{#if isCreatingCommentCode}}
    <div class="create-bg ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui form">
                <div class="ui stacked segment">
                    <h2 class="ui header">New Comment Code</h2>

                    <div class="field">
                        <label>Code</label>
                      {{input id="comment-code-create-code" type="text" placeholder="Code..." key-down="onCodeInput" value=code}}
                      {{#if codeError}}
                          <div class="ui basic red pointing prompt label transition visible">Please enter a code</div>
                      {{/if}}
                    </div>
                    <div class="field">
                        <label>Program Action</label>
                        {{input id="comment-code-create-action" type="text" placeholder="Program Action..." key-down="onActionInput" value=progAction}}
                        {{#if actionError}}
                            <div class="ui basic red pointing prompt label transition visible">Please enter a program action</div>
                        {{/if}}
                    </div>
                    <div class="field">
                        <label>Description</label>
                        {{input id="comment-code-create-description" type="text" placeholder="Description..." key-down="onDescriptionInput" value=description}}
                        {{#if descriptionError}}
                            <div class="ui basic red pointing prompt label transition visible">Please enter a description</div>
                        {{/if}}
                    </div>
                    <div class="field">
                        <label>Notes</label>
                        {{input id="comment-code-create-notes" type="text" placeholder="Notes..." key-down="onNotesInput" value=notes}}
                        {{#if notesError}}
                            <div class="ui basic red pointing prompt label transition visible">Please enter some notes</div>
                        {{/if}}
                    </div>


                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid green button" {{action "submitCommentCode" code progAction description notes}}>Submit</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancelCreateCommentCode"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{else}}
    <div class="right">
        <button class="create-button ui tiny button positive" {{action "createCommentCode"}}>Create Comment Code</button>
    </div>
{{/if}}
