<td>
	<span>{{comment_code.code}}</span>
</td>
<td>
	<span>{{comment_code.description}}</span>
</td>
<td class="right aligned">

	{{#if isEditingCommentCode}}
		<div class="create-bg ui middle aligned center aligned grid">
			<div class="column">
				<form class="ui form">
					<div class="ui stacked segment">
						<h2 class="ui header">Edit {{comment_code.code}}</h2>
						<div class="field">
							<label>New Comment Code</label>
							{{input id="comment-code-item-code" type="text" placeholder=comment_code.code value=code}}
						</div>
						<div class="field">
                        	<label>New Program Action</label>
                      		{{input id="comment-code-item-action" type="text" placeholder=comment_code.progAction value=progAction}}
                    	</div>
                    	<div class="field">
                        	<label>New Description</label>
                      		{{input id="comment-code-item-description" type="text" placeholder=comment_code.description value=description}}
                    	</div>
                    	<div class="field">
                        <label>New Notes</label>
                      		{{input id="comment-code-item-notes" type="text" placeholder=comment_code.notes value=notes}}
                    	</div>
						<div class="ui grid">
							<div class="eight wide column">
								<button class="ui fluid green button" {{action "submitCommentCodeChanges" comment_code.id code progAction description notes}}>
									Submit
								</button>
							</div>
							<div class="eight wide column">
								<button class="ui fluid button" {{action "cancelCommentCodeChanges"}}>Cancel</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	{{/if}}

	{{#if isRemoving}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <div class="ui stacked segment">
                    <h3 class="ui header">Are you sure you would like to delete {{comment_code.name}}?</h3>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid red button" {{action "remove" comment_code.id}}>Delete</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancelCommentCodeChanges"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}


	<button class="ui mini circular icon button" {{action "editCommentCode"}} title="Edit">
		<i class="edit icon"></i>
	</button>
	<button class="ui mini circular red icon button" {{action "warning"}} title="Delete">
		<i class="remove icon"></i>
	</button>

<!--
	{{#unless isHidden}}
		<button class="ui mini circular red icon button" {{action "deleteCommentCode" comment_code.id}}>
			<i class="remove icon"></i>
		</button>
	{{/unless}}
-->
</td>
