<td>
    <span>{{department.name}}</span>
</td>
<td>
    <span id="{{department.id}}faculty">{{getValue department 'faculty' 'name' department.faculty.name (concat department.id 'faculty')}}</span>
</td>
<td class="right aligned">

    {{#if isEditing}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <form class="ui form">
                    <div class="ui stacked segment">

                        <h2 class="ui header">Edit {{department.name}}</h2>

                        <div class="field">
                            <label>New Name</label>
                            {{input type="text" value=name placeholder="Department Name..." autofocus="true"}}
                        </div>

                        <div class="field">
                            <label>New Faculty</label>
                            {{#ui-dropdown class="search selection" onChange=(action "setFacultyId")}}
                                <div class="default text">Select a faculty</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {{#each faculties as |faculty|}}
                                        <div data-value="{{faculty.id}}" class="item">
                                            {{faculty.name}}
                                        </div>
                                    {{/each}}
                                </div>
                            {{/ui-dropdown}}
                        </div>

                        <div class="ui grid">
                            <div class="eight wide column">
                                <button class="ui fluid green button" {{action "submit" department.id name}}>
                                    Submit
                                </button>
                            </div>
                            <div class="eight wide column">
                                <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {{/if}}

    {{#if isRemoving}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <div class="ui stacked segment">
                    <h3 class="ui header">Are you sure you would like to delete {{department.name}}?</h3>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid red button" {{action "remove" department.id}}>Delete</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    <button class="ui mini circular icon button" {{action "edit" department.name}} title="Edit">
        <i class="edit icon"></i>
    </button>
    <button class="ui mini circular red icon button" {{action "warning"}} title="Delete">
        <i class="remove icon"></i>
    </button>
</td>