<div class="ui body container dimmable">

    <div id="distribution-result-loading" class="ui active inverted dimmer view">
        <div class="ui text loader" style="top: 96px;">Loading</div>
    </div>

    <div class="ui top grid">
        <div class="eight wide column">
            <h1 class="ui header">Distribution Result</h1>
        </div>
        <div class="eight wide column">
            <div class="right">
                <button class="ui compact button positive" {{action "generateResult"}}>
                    <i class="sort content descending icon"></i>
                    Distribute Students
                </button>
            </div>
        </div>

        <div class="eight wide column">
            <form class="ui form">
                <div class="inline field">
                    <label>View Previous Distributions</label>
                    {{#ui-dropdown class="search selection" onChange=(action "setTime")}}
                        <i class="dropdown icon"></i>
                        <div class="default text">Select a time</div>
                        <div class="menu">
                            <div data-value="latest" class="item">Latest</div>
                            {{#each dates as |date|}}
                                <div data-value="{{date}}" class="item">
                                    {{date}}
                                </div>
                            {{/each}}
                        </div>
                    {{/ui-dropdown}}
                </div>
            </form>
        </div>
        <div class="eight wide column">
            <div class="right">
                <button id="view-graph-btn" class="ui compact button blue" {{action "graphBtnClicked"}}>
                    <i class="bar chart icon"></i>
                    View Distribution Graph
                </button>
                <button class="ui compact button blue" {{action "createPDF"}}>
                    <i class="file pdf outline icon"></i>
                    Export PDF
                </button>
            </div>
        </div>
    </div>

    {{#if viewingGraph}}
        <div class="ui segment">
            <h2 class="ui center aligned header">Student Distribution</h2>
            <div class="content">
                <div id="chartdiv" style="height: 400px"></div>
                <!--{{graphView}}-->
            </div>
        </div>
    {{/if}}


    <table id="distribution-res" class="ui compact table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Student Number</th>
            <th>Student Name</th>
            <th>Comment Code</th>
            <th>Comment Description</th>
        </tr>
        </thead>
        <tbody>
        {{#each results as |distribution_result|}}
            {{distribution-result-item distribution_result=distribution_result}}
        {{/each}}
        </tbody>
    </table>

</div>
