{{#if isCreatingDistributionResult}}
    <div class="create-bg ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui form">
                <div class="ui stacked segment">
                    <h2 class="ui header">New Distribution Result</h2>

                    <div class="field">
                        <label>Date</label>
                        {{input type="date" placeholder="Date" value=distDate}}
                    </div>

                    <!-- Get new student from drop down -->
                        <div class="field">
                            <label>New Student</label>
                            {{#ui-dropdown class="selection" onChange=(action "setStudentId")}}
                                <div class="default text">Select a Student...</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {{#each students as |student|}}
                                        <div data-value="{{student.id}}" class="item">{{student.studentNumber}}</div>
                                    {{/each}}
                                </div>
                            {{/ui-dropdown}}
                        </div>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid green button" {{action "submitDistributionResult" distDate}}>Submit</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancelCreateDistributionResult"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{else}}
    <div class="right">
        <button class="create-button ui tiny button positive" {{action "createDistributionResult"}}>Create Distribution Result</button>
    </div>
{{/if}}
