{{#if isGenerating}}
    <div class="create-bg ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui form">
                <div class="ui stacked segment">
                    <h2 class="ui header">Are You Sure You Want To Distribute Students?</h2>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid green button" {{action "distribute"}}>Yes</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{else}}
    <div class="right">
        <button class="create-button ui tiny button positive" {{action "generateResult"}}>Distribute Students</button>
    </div>
{{/if}}
