<td>
	<span>{{distribution_result.date}}</span>
</td>
<td>
	<span id="{{distribution_result.id}}number">{{getValue distribution_result 'student' 'studentNumber' distribution_result.student.studentNumber (concat distribution_result.id 'number')}} <div class="float-left ui active small inline loader"></div><span class="float-left">&nbsp;Loading</span> </span>
</td>
<td>
	<span id="{{distribution_result.id}}firstName">{{getValue distribution_result 'student' 'firstName' distribution_result.student.firstName (concat distribution_result.id 'firstName')}} <div class="float-left ui active small inline loader"></div><span class="float-left">&nbsp;Loading</span> </span>
	<span id="{{distribution_result.id}}lastName">{{getValue distribution_result 'student' 'lastName' distribution_result.student.lastName (concat distribution_result.id 'lastName')}} <div class="float-left ui active small inline loader"></div><span class="float-left">&nbsp;Loading</span> </span>
</td>
<td>
	{{#if distribution_result.rejected}}
		<span>N/A</span>
	{{else}}
		<span id="{{distribution_result.id}}commentCode">{{getValue distribution_result 'commentCode' 'code' distribution_result.commentCode.code (concat distribution_result.id 'commentCode')}} <div class="float-left ui active small inline loader"></div><span class="float-left">&nbsp;Loading</span> </span>
	{{/if}}
</td>
<td>
	{{#if distribution_result.rejected}}
		<span>Not Eligible For Any Faculty</span>
	{{else}}
		<span id="{{distribution_result.id}}commentCodeDescription">{{getValue distribution_result 'commentCode' 'description' distribution_result.commentCode.description (concat distribution_result.id 'commentCodeDescription')}} <div class="float-left ui active small inline loader"></div><span class="float-left">&nbsp;Loading</span> </span>
	{{/if}}
</td>
