<td>
    <span>{{grade.mark}}</span>
</td>
<td>
    <span>{{grade.section}}</span>
</td>
<td>
    <span id="{{grade.id}}courseCode">{{getValue grade 'courseCode' 'code' grade.courseCode.code (concat grade.id 'courseCode')}}</span>
</td>
<td>
    <span id="{{grade.id}}programRecord">{{getValue grade 'programRecord' 'level' grade.programRecord.level (concat grade.id 'programRecord')}}</span>
</td>
<td>
    <span id="{{grade.id}}student">{{getValue grade 'student' 'studentNumber' grade.student.studentNumber (concat grade.id 'student')}}</span>
</td>
<td class="right aligned">

    {{#if isEditing}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <form class="ui form">
                    <div class="ui stacked segment">

                        <h2 class="ui header">Edit {{grade.mark}}</h2>

                        <div class="field">
                            <label>New Mark</label>
                            {{input type="text" value=mark placeholder="Mark..." autofocus="true"}}
                        </div>

                        <div class="field">
                            <label>New Section</label>
                            {{input type="text" value=section placeholder="Section..."}}
                        </div>

                        <div class="field">
                            <label>New Course Code</label>
                            {{#ui-dropdown class="search selection" onChange=(action "setCourseCodeId")}}
                                <div class="default text">Select a course code</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {{#each courseCodes as |courseCode|}}
                                        <div data-value="{{courseCode.id}}" class="item">
                                            {{courseCode.code}}
                                        </div>
                                    {{/each}}
                                </div>
                            {{/ui-dropdown}}
                        </div>

                        <div class="field">
                            <label>New Program Record</label>
                            {{#ui-dropdown class="search selection" onChange=(action "setProgramRecordId")}}
                                <div class="default text">Select a program record</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {{#each programRecords as |programRecord|}}
                                        <div data-value="{{programRecord.id}}" class="item">
                                            {{programRecord.level}}
                                        </div>
                                    {{/each}}
                                </div>
                            {{/ui-dropdown}}
                        </div>

                        <div class="field">
                            <label>New Student</label>
                            {{#ui-dropdown class="search selection" onChange=(action "setStudentId")}}
                                <div class="default text">Select a student</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {{#each students as |student|}}
                                        <div data-value="{{student.id}}" class="item">
                                            {{student.studentNumber}}
                                        </div>
                                    {{/each}}
                                </div>
                            {{/ui-dropdown}}
                        </div>

                        <div class="ui grid">
                            <div class="eight wide column">
                                <button class="ui fluid green button" {{action "submit" grade.id mark section}}>
                                    Submit
                                </button>
                            </div>
                            <div class="eight wide column">
                                <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {{/if}}

    {{#if isRemoving}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <div class="ui stacked segment">
                    <h3 class="ui header">Are you sure you would like to delete {{grade.mark}}?</h3>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid red button" {{action "remove" grade.id}}>Delete</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    <button class="ui mini circular icon button" {{action "edit" grade.mark grade.section}} title="Edit">
        <i class="edit icon"></i>
    </button>
    <button class="ui mini circular red icon button" {{action "warning"}} title="Delete">
        <i class="remove icon"></i>
    </button>
</td>