{{#if isCreating}}
    <div class="create-bg ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui form">
                <div class="ui stacked segment">

                    <h2 class="ui header">New Grade</h2>

                    <div class="field">
                        <label>Mark</label>
                        {{input type="text" value=mark placeholder="Mark..." autofocus="true"}}
                    </div>

                    <div class="field">
                        <label>Section</label>
                        {{input type="text" value=section placeholder="Section..."}}
                    </div>

                    <div class="field">
                        <label>Course Code</label>
                        {{#ui-dropdown class="search selection" onChange=(action "setCourseCodeId")}}
                            <div class="default text">Select a course code</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {{#each courseCodes as |courseCode|}}
                                    <div data-value="{{courseCode.id}}" class="item">
                                        {{courseCode.code}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/ui-dropdown}}
                    </div>

                    <div class="field">
                        <label>Program Record</label>
                        {{#ui-dropdown class="search selection" onChange=(action "setProgramRecordId")}}
                            <div class="default text">Select a program record</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {{#each programRecords as |programRecord|}}
                                    <div data-value="{{programRecord.id}}" class="item">
                                        {{programRecord.level}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/ui-dropdown}}
                    </div>

                    <div class="field">
                        <label>Student</label>
                        {{#ui-dropdown class="search selection" onChange=(action "setStudentId")}}
                            <div class="default text">Select a student</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {{#each students as |student|}}
                                    <div data-value="{{student.id}}" class="item">
                                        {{student.studentNumber}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/ui-dropdown}}
                    </div>

                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid green button" {{action "submit" mark section}}>Submit</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{else}}
    <div class="right">
        <button class="create-button ui tiny button positive" {{action "create"}}>Create Grade</button>
    </div>
{{/if}}