<div class="ui segment">
    <div class="ui grid">

        <div class="sixteen wide column">
            <h1 class="ui centered header">Welcome to the Student Admission System</h1>
        </div>

        <div class="two wide column">
        </div>
        <div class="twelve wide column">
            <div id="home-page-tile-section" class="ui two cards">
                {{#link-to 'students' class="ui card"}}
                    <div id="home-page-view-students-card-content" class="content home-page-card-padded">
                        <div class="center aligned header">View Students</div>
                        <div class="center aligned description">Manage information for any student in the database</div>
                    </div>
                {{/link-to}}
                {{#link-to 'populate-tables' class="ui card"}}
                    <div id="home-page-populate-tables-card-content" class="content home-page-card-padded ">
                        <div class="center aligned header">Upload Data</div>
                        <div class="center aligned description">Upload data into the system</div>
                    </div>
                {{/link-to}}
                {{#link-to 'admission-rules' class="ui card"}}
                    <div id="home-page-admission-rules-card-content" class="content home-page-card-padded ">
                        <div class="center aligned header">Student Admission Rules</div>
                        <div class="center aligned description">Manage admission rules for all programs</div>
                    </div>
                {{/link-to}}
                {{#link-to 'distribution-results' class="ui card"}}
                    <div id="home-page-distribution-results-card-content" class="content home-page-card-padded ">
                        <div class="center aligned header">Distribute Students</div>
                        <div class="center aligned description">Trigger and new distribution and view previous distributions</div>
                    </div>
                {{/link-to}}
                {{#link-to 'about-us' class="ui card"}}
                    <div id="home-page-about-us-card-content" class="content">
                        <div class="ui items">
                            <div id="home-page-about-us-link-item" class="ui item">
                                <div class="ui tiny image">
                                    <img src="assets/images/pineSmall.jpg"/>
                                </div>
                                <div class="content">
                                    <span class="header">© Pine</span>
                                    <div class="description">
                                        Stefan Kramreither <br/>
                                        Kirkland Landry <br/>
                                        Joseph Roussy <br/>
                                        Fabio Mona Torres <br/>
                                        Victor Villatoro
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/link-to}}
                {{#link-to 'records' class="ui card"}}
                    <div id="home-page-manage-records-card-content" class="content home-page-card-padded">
                        <div class="center aligned header">Manage Records</div>
                        <div class="center aligned description">Manage various records in the system</div>
                    </div>
                {{/link-to}}
            </div>
        </div>
        <div class="two wide column">
        </div>

    </div>
</div>
