<td>
    <span id="{{hsaa.id}}first">{{getValue hsaa 'student' 'firstName' hsaa.student.firstName (concat hsaa.id 'first')}}</span>
    <span id="{{hsaa.id}}last">{{getValue hsaa 'student' 'lastName' hsaa.student.lastName (concat hsaa.id 'last')}}</span>
</td>
<td>
    <span>{{hsaa.grade11}}</span>
</td>
<td>
    <span>{{hsaa.first}}</span>
</td>
<td>
    <span>{{hsaa.midYear}}</span>
</td>
<td>
    <span>{{hsaa.finalVal}}</span>
</td>
<td class="right aligned">

    {{#if isEditing}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <form class="ui form">
                    <div class="ui stacked segment">

                        <h2 class="ui header">Edit Admission Average</h2>

                                            <div class="field">
                        <label>Grade 11</label>
                        {{input type="text" value=grade11 placeholder=hsaa.grade11 key-up="onG11Input" autofocus="true" id="g11-field"}}
                        {{#if g11Error}}
                            <div class="ui basic red pointing prompt label transition visible">{{g11ErrorMessage}}</div>
                        {{/if}}
                    </div>

                    <div class="field">
                        <label>First</label>
                        {{input type="text" value=first placeholder=hsaa.first autofocus="true" key-up="onFirstInput" id="first-field"}}
                        {{#if firstError}}
                            <div class="ui basic red pointing prompt label transition visible">{{firstErrorMessage}}</div>
                        {{/if}}
                    </div>

                    <div class="field">
                        <label>Mid-year</label>
                        {{input type="text" value=midYear placeholder=hsaa.midYear autofocus="true" key-up="onMYInput" id="m-y-field"}}
                        {{#if MYError}}
                            <div class="ui basic red pointing prompt label transition visible">{{MYErrorMessage}}</div>
                        {{/if}}
                    </div>

                    <div class="field">
                        <label>Final</label>
                        {{input type="text" value=finalVal placeholder=hsaa.finalVal autofocus="true" key-up="onFinalInput" id="final-field"}}
                        {{#if finalError}}
                            <div class="ui basic red pointing prompt label transition visible">{{finalErrorMessage}}</div>
                        {{/if}}
                    </div>

                        <div class="ui grid">
                            <div class="eight wide column">
                                <button class="ui fluid green button" {{action "submit" hsaa.id grade11 first midYear finalVal}}>
                                    Submit
                                </button>
                            </div>
                            <div class="eight wide column">
                                <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {{/if}}

    {{#if isRemoving}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <div class="ui stacked segment">
                    <h3 class="ui header">Are you sure you would like to delete this admission average?</h3>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid red button" {{action "remove" hsaa.id}}>Delete</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    <button class="ui mini circular icon button" {{action "edit"}} title="Edit">
        <i class="edit icon"></i>
    </button>
    <button class="ui mini circular red icon button" {{action "warning"}} title="Delete">
        <i class="remove icon"></i>
    </button>
</td>