{{#if isCreating}}
    <div class="create-bg ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui form">
                <div class="ui stacked segment">

                    <h2 class="ui header">New High School Admission Average</h2>

                    <div class="field">
                        <label>Student</label>
                        {{#ui-dropdown  id="student-field" class="search selection" onChange=(action "setStudentId")}}
                            <div class="default text">Select a student</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {{#each students as |student|}}
                                    <div data-value="{{student.id}}" class="item">
                                        {{student.firstName}} {{student.lastName}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/ui-dropdown}}
                        {{#if studentError}}
                            <div class="ui basic red pointing prompt label transition visible">Please select a student</div>
                        {{/if}} 
                    </div>

                    <div class="field">
                        <label>Grade 11</label>
                        {{input type="text" value=grade11 placeholder="Grade 11 average..." key-up="onG11Input" autofocus="true" id="g11-field"}}
                        {{#if g11Error}}
                            <div class="ui basic red pointing prompt label transition visible">{{g11ErrorMessage}}</div>
                        {{/if}}
                    </div>

                    <div class="field">
                        <label>First</label>
                        {{input type="text" value=first placeholder="First average..." autofocus="true" key-up="onFirstInput" id="first-field"}}
                        {{#if firstError}}
                            <div class="ui basic red pointing prompt label transition visible">{{firstErrorMessage}}</div>
                        {{/if}}
                    </div>

                    <div class="field">
                        <label>Mid-year</label>
                        {{input type="text" value=midYear placeholder="Mid-year average..." autofocus="true" key-up="onMYInput" id="m-y-field"}}
                        {{#if MYError}}
                            <div class="ui basic red pointing prompt label transition visible">{{MYErrorMessage}}</div>
                        {{/if}}
                    </div>

                    <div class="field">
                        <label>Final</label>
                        {{input type="text" value=finalVal placeholder="Final average..." autofocus="true" key-up="onFinalInput" id="final-field"}}
                        {{#if finalError}}
                            <div class="ui basic red pointing prompt label transition visible">{{finalErrorMessage}}</div>
                        {{/if}}
                    </div>

                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid green button" {{action "submit" first midYear finalVal grade11}}>Submit</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{else}}
    <div class="right">
        <button class="create-button ui tiny button positive" {{action "create"}}>Create Admission Average</button>
    </div>
{{/if}}
