<button class="ui compact green button" {{action 'create'}}>
    <i class="plus icon"></i>
    Add High School Course Mark
</button>

{{#ui-modal class="create" onDeny=(action 'close')}}
    <i class="close icon"></i>
    <div class="header">Add High School Course Mark to SAS</div>
    <div class="content">
        <form class="ui form">
            <div class="four fields">
                <div class="field">
                    <label>Grade</label>
                    {{input type="text" value=grade placeholder="Grade..."}}
                </div>
                <div class="field">
                    <label>Level</label>
                    {{input type="text" value=level placeholder="Level..."}}
                </div>
                <div class="field">
                    <label>Source</label>
                    {{input type="text" value=source placeholder="Source..."}}
                </div>
                <div class="field">
                    <label>Unit</label>
                    {{input type="text" value=unit placeholder="Unit..."}}
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Subject</label>
                    {{#ui-dropdown class="subject search selection" onChange=(action 'setSubject')}}
                        <div class="default text">Select Subject</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {{#each hsSubjects as |hsSubject|}}
                                <div data-value="{{hsSubject.id}}" class="item">
                                    {{hsSubject.name}}
                                </div>
                            {{/each}}
                        </div>
                    {{/ui-dropdown}}
                </div>
                <div class="field">
                    <label>School</label>
                    {{#ui-dropdown class="school search selection" onChange=(action 'setSchool')}}
                        <div class="default text">Select School</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {{#each secondarySchools as |secondarySchool|}}
                                <div data-value="{{secondarySchool.id}}" class="item">
                                    {{secondarySchool.name}}
                                </div>
                            {{/each}}
                        </div>
                    {{/ui-dropdown}}
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui green deny button" {{action 'submit'}}>Create</button>
        <button class="ui deny button" {{action 'close'}}>Cancel</button>
    </div>
{{/ui-modal}}