<div class="ui top grid">
    <div class="eight wide column">
        <h1 class="ui header">High School Course Marks</h1>
    </div>
    <div class="eight wide right column">
        {{hs-course-mark-create}}
    </div>
</div>

<div class="dimmable">
    <div class="ui active inverted dimmer view">
        <div class="ui text loader" style="top: 96px;">Loading</div>
    </div>
    <table class="ui table">
        <thead>
        <tr>
            <th>Grade</th>
            <th>Subject</th>
            <th>Level</th>
            <th>Source</th>
            <th>Unit</th>
            <th>School</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{loadHSCourseMarks}}
        {{#each hsCourseMarks as |hsCourseMark|}}
            {{hs-course-mark-item hsCourseMark=hsCourseMark}}
        {{/each}}
        </tbody>
    </table>
</div>