<td>
    {{hsCourseMark.grade}}
</td>
<td>
    {{loadHSSubjects}}
    {{subject.name}}
</td>
<td>
    {{hsCourseMark.level}}
</td>
<td>
    {{hsCourseMark.source}}
</td>
<td>
    {{hsCourseMark.unit}}
</td>
<td>
    {{loadSecondarySchools}}
    {{school.name}}
</td>
<td class="right aligned">
    <button class="ui mini circular icon button" {{action 'edit' hsCourseMark.id}} title="Edit">
        <i class="edit icon"></i>
    </button>
    <button class="ui mini circular red icon button" {{action 'warning'}} title="Delete">
        <i class="remove icon"></i>
    </button>
</td>

{{#ui-modal class="view" onDeny=(action 'close')}}
    <i class="close icon"></i>
    <div class="header">Edit High School Course Grade</div>
    <div class="content">
        <form class="ui form">
            <div class="four fields">
                <div class="field">
                    <label>Grade</label>
                    {{input type="text" value=grade placeholder="Grade..."}}
                </div>
                <div class="field">
                    <label>Level</label>
                    {{input type="text" value=level placeholder="Level..."}}
                </div>
                <div class="field">
                    <label>Source</label>
                    {{input type="text" value=source placeholder="Source..."}}
                </div>
                <div class="field">
                    <label>Unit</label>
                    {{input type="text" value=unit placeholder="Unit..."}}
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Subject</label>
                    {{#ui-dropdown class="subject search selection" onChange=(action 'setSubject')}}
                        <div class="default text">Select Subject</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {{#each hsSubjects as |j|}}
                                <div data-value="{{j.id}}" class="item">
                                    {{j.name}}
                                </div>
                            {{/each}}
                        </div>
                    {{/ui-dropdown}}
                </div>
                <div class="field">
                    <label>School</label>
                    {{#ui-dropdown class="school search selection" onChange=(action 'setSchool')}}
                        <div class="default text">Select School</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {{#each secondarySchools as |i|}}
                                <div data-value="{{i.id}}" class="item">
                                    {{i.name}}
                                </div>
                            {{/each}}
                        </div>
                    {{/ui-dropdown}}
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui green deny button" {{action 'submit' hsCourseMark.id}}>Submit</div>
        <div class="ui deny button" {{action 'close'}}>Close</div>
    </div>
{{/ui-modal}}

{{#ui-modal class="small basic delete"}}
    <div class="ui icon header">
        <i class="remove icon"></i>
        Delete High School Course Grade {{hsCourseMark.grade}}
    </div>
    <div class="content" style="text-align: center;">
        <p>Are you sure you would like to delete the high school course grade {{hsCourseMark.grade}}?</p>
    </div>
    <div class="actions">
        <div class="ui basic cancel inverted button" {{action 'close'}}>No</div>
        <div class="ui red ok inverted button" {{action 'remove' hsCourseMark.id}}>Yes</div>
    </div>
{{/ui-modal}}