<button class="ui compact green button" {{action 'create'}}>
    <i class="plus icon"></i>
    Add High School Subject
</button>

{{#ui-modal class="small create" onDeny=(action 'close')}}
    <i class="close icon"></i>
    <div class="header">Add High School Subject to SAS</div>
    <div class="content">
        <form class="ui form">
            <div class="ui grid">
                <div class="four wide column">
                    <div class="field">
                        <label>Name</label>
                        {{input type="text" value=name placeholder="Name..."}}
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="field">
                        <label>Description</label>
                        {{input type="text" value=description placeholder="Description..."}}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui green deny button" {{action 'submit'}}>Create</button>
        <button class="ui deny button" {{action 'close'}}>Cancel</button>
    </div>
{{/ui-modal}}