<td>
    <span>{{hsSubject.name}}</span>
</td>
<td>
    <span>{{hsSubject.description}}</span>
</td>
<td class="right aligned">
    <button class="ui mini circular icon button" {{action 'edit' hsSubject.id}} title="Edit">
        <i class="edit icon"></i>
    </button>
    <button class="ui mini circular red icon button" {{action 'warning'}} title="Delete">
        <i class="remove icon"></i>
    </button>
</td>

{{#ui-modal class="small view" onDeny=(action 'close')}}
    <i class="close icon"></i>
    <div class="header">Edit {{hsSubject.name}}</div>
    <div class="content">
        <form class="ui form">
            <div class="ui grid">
                <div class="four wide column">
                    <div class="field">
                        <label>Name</label>
                        {{input type="text" value=name}}
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="field">
                        <label>Description</label>
                        {{input type="text" value=description}}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui green deny button" {{action 'submit' hsSubject.id}}>Submit</div>
        <div class="ui deny button" {{action 'close'}}>Close</div>
    </div>
{{/ui-modal}}

{{#ui-modal class="small basic delete"}}
    <div class="ui icon header">
        <i class="remove icon"></i>
        Delete High School Subject {{hsSubject.name}}
    </div>
    <div class="content" style="text-align: center;">
        <p>Are you sure you would like to delete the high school subject {{hsSubject.name}}?</p>
    </div>
    <div class="actions">
        <div class="ui basic cancel inverted button" {{action 'close'}}>No</div>
        <div class="ui red ok inverted button" {{action 'remove' hsSubject.id}}>Yes</div>
    </div>
{{/ui-modal}}