<div class="ui top grid">
    <div class="eight wide column">
        <h1 class="ui header">High School Subjects</h1>
    </div>
    <div class="eight wide right column">
        {{hs-subject-create}}
    </div>
</div>

<div class="dimmable">
    <div class="ui active inverted dimmer view">
        <div class="ui text loader" style="top: 96px;">Loading</div>
    </div>
    <table class="ui table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{loadHSSubjects}}
        {{#each hsSubjects as |hsSubject|}}
            {{hs-subject-item hsSubject=hsSubject}}
        {{/each}}
        </tbody>
    </table>
</div>