{{#if isCreatingItrProgram}}
    <div class="create-bg ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui form">
                <div class="ui stacked segment">
                    <h2 class="ui header">New ITR Program</h2>

                    <div class="field">
                        <label>Student</label>
                        {{#ui-dropdown id="itr-program-create-student" class="search selection" onChange=(action "setStudentId")}}
                            <div class="default text">Select a Student</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {{#each students as |student|}}
                                    <div data-value="{{student.id}}" class="item">
                                        {{student.firstName}} {{student.lastName}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/ui-dropdown}}
                        {{#if studentError}}
                            <div class="ui basic red pointing prompt label transition visible">Please select a student</div>
                        {{/if}}
                    </div>

                    <div class="field">
                        <label>Program</label>
                        {{#ui-dropdown id="itr-program-create-program" class="search selection" onChange=(action "setProgramId")}}
                            <div class="default text">Select a Program</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {{#each programs as |program|}}
                                    <div data-value="{{program.id}}" class="item">
                                        {{program.name}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/ui-dropdown}}
                        {{#if programError}}
                            <div class="ui basic red pointing prompt label transition visible">Please select a program</div>
                        {{/if}}
                    </div>

                    <div class="field">
                        <label>ITR Program Order</label>
                        {{input type="text" placeholder="Order..." value=order}}
                    </div>
                    <div class="inline field">
                        <label>ITR Program Eligibility:</label>
                        {{ui-checkbox class="margin-5" checked=eligibility}}
                    </div>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid green button" {{action "submitItrProgram" order}}>Submit</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancelCreateItrProgram"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{else}}
    <div class="right">
        <button class="create-button ui tiny button positive" {{action "createItrProgram"}}>Create ITR Program</button>
    </div>
{{/if}}