{{#if isClearingItrProgram}}
    <div class="create-bg ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui form">
                <div class="ui stacked segment">
                    <h2 class="ui header">Clear ITR Data</h2>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid green button" {{action "clear"}}>Go</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{else}}
    <button class="button create-button ui tiny negative" title="Clear ITR Data"{{action "clearItrData"}}>Clear ITR Data</button>
{{/if}}
