<td>
    <!--
    <span id="{{itr_program.id}}first">{{getValue itr_program 'student' 'firstName' itr_program.student.firstName
    (concat itr_program.id 'first')}}</span>
    <span id="{{itr_program.id}}last">{{getValue itr_program 'student' 'lastName' itr_program.student.lastName
    (concat itr_program.id 'last')}}</span>
    -->
    {{studentName}}
    {{#if studentLoading}}
        <div class="float-left ui active small inline loader"></div><span class="float-left">&nbsp;Loading</span>
    {{/if}}
</td>
<td>
    <!--
    <span id="{{itr_program.id}}program">{{getValue itr_program 'program' 'name' itr_program.program.name
    (concat itr_program.id 'program')}}</span>
    -->
    {{program}}
    {{#if programLoading}}
        <div class="float-left ui active small inline loader"></div><span class="float-left">&nbsp;Loading</span>
    {{/if}}
</td>
<td>
    <span>{{itr_program.order}}</span>
</td>
<td>
    {{#if itr_program.eligibility}}
        <span>Yes</span>
    {{else}}
        <span>No</span>
    {{/if}}
</td>
<td class="right aligned">
    <!--<button class="ui mini circular icon button"  title="Edit">
        <i class="edit icon"></i>
    </button>-->

  {{#if isEditingItrProgram}}
      <div class="create-bg ui middle aligned center aligned grid">
          <div class="column">
              <form class="ui form">
                  <div class="ui stacked segment">
                      <h2 class="ui header">Edit ITR Program</h2>
                      <div class="field">
                          <label>ITR Program Order</label>
                        {{input type="text" placeholder="Order..." value=order}}
                      </div>
                      <div class="inline field">
                          <label>ITR Program Eligibility:</label>
                        {{ui-checkbox class="margin-5" checked=eligibility}}
                      </div>
                      <div class="ui grid">
                          <div class="eight wide column">
                              <button class="ui fluid green button" {{action "submitItrProgramChanges" itr_program.id order}}>Submit</button>
                          </div>
                          <div class="eight wide column">
                              <button class="ui fluid button" {{action "cancelItrProgramChanges"}}>Cancel</button>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  {{else}}
      <button {{action "editItrProgram" itr_program.id}} class="ui mini circular icon button"  title="Edit">
          <i class="edit icon"></i>
      </button>
  {{/if}}

    <button class="ui mini circular red icon button" {{action "deleteItrProgram" itr_program.id}} title="Delete">
        <i class="remove icon"></i>
    </button>
</td>
