{{#if notCanceled}}
    <div class="expressionPadding">
        <!-- Space to display the logical expression -->
        {{#if showExpression}}
            <div class="ui centered segment">
                <h4 class="ui header">New Expression</h4>
                <p>{{logicalLinkText}}&nbsp;&nbsp;&nbsp;&nbsp;{{leftOperatorText}}&nbsp;&nbsp;&nbsp;&nbsp;{{booleanOperatorText}}&nbsp;&nbsp;&nbsp;&nbsp;{{valueText}}</p>
            </div>
            <div class="ui divider"></div>
        {{/if}}
        <!-- Get the boolean expression using 4 drop downs -->
        <div class="fields">
            {{#if isLinked}}
                <div class="four wide column field">
                    <label>Link To Previous Expression</label>
                    {{#ui-dropdown id="link-field" class="selection" name="logicalLink"  onChange=(action "setLogicalLink")}}
                        <div class="default text">Select...</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div data-value="and" class="item"> ...And </div>
                            <div data-value="or" class="item"> ...Or </div>
                        </div>
                    {{/ui-dropdown}}
                    {{#if logicalLinkError}}
                        <div class="ui basic red pointing prompt label transition visible">Please select a link</div>
                    {{/if}}
                </div>
            {{/if}}
            <div class="four wide column field">
                <label>Select Parameter</label>
                {{#ui-dropdown id="left-operator-field" class="selection" name="leftOperator" onChange=(action "setLeftOperator")}}
                    <div class="default text">Select...</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div data-value="size" class="item">Total Number of Students</div>
                        <div data-value="average" class="item">Weighted Average</div>
                        {{#each courses as |course|}}
                            <div data-value="{{course.id}}" class="item">{{course.code}}{{course.number}}</div>
                        {{/each}}
                    </div>
                {{/ui-dropdown}}
                {{#if leftOperatorError}}
                    <div class="ui basic red pointing prompt label transition visible">Please make a selection</div>
                {{/if}}
            </div>
            <div class="four wide column field">
                <label>Boolean Operator</label>
                {{#ui-dropdown id="boolean-operator-field" class="selection" name="booleanOperator" onChange=(action "setBooleanOperator")}}
                    <div class="defualt text">Select...</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div data-value=">" class="item"> Greater Than </div>
                        <div data-value=">=" class="item"> Greater Than Or Equal To </div>
                        <div data-value="<" class="item"> Less Than </div>
                        <div data-value="<=" class="item"> Less Than Or Equal To </div>
                        <div data-value="==" class="item"> Equal To </div>
                    </div>
                {{/ui-dropdown}}
                {{#if booleanError}}
                    <div class="ui basic red pointing prompt label transition visible">Please select a boolean operator</div>
                {{/if}}
            </div>
            <div class="four wide column field">
                <label>Select Value</label>
                {{input type="text" id="value-field" name="value" placeholder="value..." value=val key-up="onNameInput"}}
                {{#if valError}}
                    <div class="ui basic red pointing prompt label transition visible">{{valErrorMessage}}</div>
                {{/if}}
            </div>
        </div>
        <div class="inline field">
            <div id="logical-expression-create-checkbox-group">
                {{ui-checkbox class="ui checkbox" checked=isForFull}}
                <label>Only apply when full</label>
            </div>
        </div>

        <!-- Submit or Cancel Buttons -->
        <div class="ui grid">
            <div class="four wide column"></div>
            <div class="four wide column">
                <button class="ui fluid green submit button" {{action "submitExpression" val}}>Add Expression</button>
            </div>
            <div class="four wide column">
                <button class="ui fluid button" {{action "cancelExpressionCreate"}}>Cancel</button>
            </div>
            <div class="four wide column"></div>
        </div>
    </div>
{{/if}}
