<!--
<div class="ui grid">
    <div class="center alinged four wide column">
        <button id="addAnd" class="ui fluid blue button" {{action "addExpressionAnd"}}>
            Add Expression Separated With And
        </button>
    </div>
    <div class="center alinged four wide column">
        <button class="ui fluid blue button" {{action "addExpressionOr"}}>
            Add Expression Separated With Or
        </button>
    </div>
    {{#if isCreatingExpression}}
        {{logical-expression-create admision_rule=admision_rule }}
    {{/if}}
</div>
-->

<div class="ui grid">
    <div class="eight wide column">
        {{#if linkIsNotNone}}
            <span>{{displayExpression}}</span><span>&nbsp;{{logical_expression.logicalLink}}</span>
            {{logical-expression-item-linked exp=logical_expression.link}}
        {{else}}
            <span>{{displayExpression}}</span>
        {{/if}}
        {{#if loadingExpression}}
            <div class="float-right ui active small inline loader"></div><span class="float-right">&nbsp;Loading</span>
        {{/if}}
    </div>

    <div class="four wide column">
        <button class="ui mini circular green icon button" {{action "addLinkedExpression"}} title="Add Linked Expression">
            <i class="plus icon"></i>
        </button>
        <button class="ui mini circular icon button" {{action "editExpression"}} title="Edit">
            <i class="edit icon"></i>
        </button>
        <button class="ui mini circular red icon button" {{action "deleteExpression"}} title="Delete">
            <i class="remove icon"></i>
        </button>
    </div>

    {{#if isAddingExpression}}
        {{logical-expression-create isLinked=true onConfirm=(action "onLinkedExpressionCreated")}}
    {{/if}}

    {{#if isEditing}}
        {{logical-expression-create isLinked=false onConfirm=(action "submitEditedExpression") }}
    {{/if}}
</div>

<div class="expression-divider ui divider"></div>
