<br/>

    {{#if linkIsNotNone}}
        <span>{{displayExpression}}</span><span>&nbsp;{{exp.logicalLink}}</span>
        {{logical-expression-item-linked exp=exp.link}}
    {{else}}
        <span>{{displayExpression}}</span>
    {{/if}}

{{#if loadingExpression}}
    <div class="float-right ui active small inline loader"></div><span class="float-right">&nbsp;Loading</span>
{{/if}}
