{{#link-to 'about-us' class="ui item"}}
    About Us
{{/link-to}}
{{#ui-dropdown class="ui top right pointing icon dropdown item"}}
    <i class="settings icon"></i>
    <div class="menu">
        <div class="ui horizontal divider">Account</div>
        {{#link-to 'user' class="item"}}User Profile{{/link-to}}
        <div class="ui horizontal divider">Admin</div>
        {{#link-to 'records' class="item"}}Manage Records{{/link-to}}
        {{#link-to 'admin-portal' class="item"}}Admin Portal{{/link-to}}
    </div>
{{/ui-dropdown}}
<a class="ui item" {{action 'logout'}}>Logout</a>
