<div class="ui centered grid">
    <div class="three wide column">
        <div class="ui fluid secondary vertical menu">
            <a class="active item" data-tab="students-tab">
                Students<i class="users icon"></i>
            </a>
            <a class="item" data-tab="grades-tab">
                Grades<i class="archive icon"></i>
            </a>
            <a class="item" data-tab="comment-code-tab">
                Comment Codes<i class="browser icon"></i>
            </a>
            <a class="item" data-tab="itr-programs-tab">
                ITR Programs<i class="sitemap icon"></i>
            </a>
        </div>
    </div>
    <div class="thirteen wide column">
        <div class="ui active tab" data-tab="students-tab">
            {{populate-student}}
        </div>
        <div class="ui tab" data-tab="grades-tab">
            {{populate-grade}}
        </div>
        <div class="ui tab" data-tab="comment-code-tab">
            {{populate-comment-code}}
        </div>
        <div class="ui tab" data-tab="itr-programs-tab">
            {{populate-itr-program}}
        </div>
    </div>
</div>
