<h2 class="ui header">Populate Comment Codes</h2>

<div class="ui info message">
    <div class="header">Information for Populating Comment Codes</div>
    <ul class="list">
        <li>Only .xlsx files are accepted</li>
        <li>This is an aggregate uploader that only requires comment code data</li>
        <li>Use the box below to drag in the files containing the data</li>
    </ul>
</div>
<div class="ui warning message">
    <div class="header">Make sure to upload the following file:</div>
    <p>
        CommentCodes.xlsx
    </p>
</div>

<div class="ui three column centered file-upload grid">
    <div class="fourteen wide column" style="text-align: center;">
        <span style="font-weight: bold; font-size: 22px; color: #CDCDCD;">Drag and drop files</span>
        <input id="comment-code-file" type="file" style="visibility: hidden; position: absolute;">
    </div>
</div>

<div class="ui grid">
    <div class="eight wide column">
        <button class="ui green button" {{action 'upload'}}>
            <i class="plus icon"></i>Submit
        </button>
        <button class="ui button" {{action 'clear'}}>Clear</button>
    </div>
    <div class="eight wide right column">
        <button class="ui blue button" {{action 'file'}}>
            <i class="file icon"></i>Select File
        </button>
    </div>
</div>

{{#ui-modal class="error basic"}}
    <div class="ui icon header">
        <i class="remove icon"></i>
        Error
    </div>
    <div class="content" style="text-align: center;">
        <p>Please make sure the following files have been uploaded before submitting: commentcodes.xlsx</p>
    </div>
    <div class="actions">
        <div class="ui inverted grey button" {{action 'closeError'}}>Close</div>
    </div>
{{/ui-modal}}

{{#ui-modal class="small upload"}}
    <div class="header">Uploading Comment Code Data</div>
    <div class="content">
      {{#ui-progress percent=uploadPercent class="blue upload active"}}
          <div class="bar"></div>
          <div class="label"></div>
      {{/ui-progress}}
    </div>
    <div class="actions">
        <button class="ui red deny button">
            <i class="remove icon"></i>Cancel
        </button>
    </div>
{{/ui-modal}}