<td>
    <span>{{programAdministration.name}}</span>
</td>
<td>
    <span>{{programAdministration.position}}</span>
</td>
<td>
    <span id="{{programAdministration.id}}department">{{getValue programAdministration 'department' 'name' programAdministration.department.name (concat programAdministration.id 'department')}}</span>
</td>
<td>
    <span id="{{programAdministration.id}}academicProgramCode">{{getValue programAdministration 'academicProgramCode' 'name' programAdministration.academicProgramCode.name (concat programAdministration.id 'academicProgramCode')}}</span>
</td>
<td class="right aligned">

    {{#if isEditing}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <form class="ui form">
                    <div class="ui stacked segment">

                        <h2 class="ui header">Edit {{programAdministration.name}}</h2>

                        <div class="field">
                            <label>New Name</label>
                            {{input type="text" value=name placeholder="Name..." autofocus="true"}}
                        </div>

                        <div class="field">
                            <label>New Position</label>
                            {{input type="text" value=position placeholder="Position..."}}
                        </div>

                        <div class="field">
                            <label>New Department</label>
                            {{#ui-dropdown class="search selection" onChange=(action "setDepartmentId")}}
                                <div class="default text">Select a department</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {{#each departments as |department|}}
                                        <div data-value="{{department.id}}" class="item">
                                            {{department.name}}
                                        </div>
                                    {{/each}}
                                </div>
                            {{/ui-dropdown}}
                        </div>

                        <div class="field">
                            <label>New Academic Program Code</label>
                            {{#ui-dropdown class="search selection" onChange=(action "setAcademicProgramCodeId")}}
                                <div class="default text">Select an academic program code</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {{#each academicProgramCodes as |academicProgramCode|}}
                                        <div data-value="{{academicProgramCode.id}}" class="item">
                                            {{academicProgramCode.name}}
                                        </div>
                                    {{/each}}
                                </div>
                            {{/ui-dropdown}}
                        </div>

                        <div class="ui grid">
                            <div class="eight wide column">
                                <button class="ui fluid green button" {{action "submit" programAdministration.id name position}}>
                                    Submit
                                </button>
                            </div>
                            <div class="eight wide column">
                                <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {{/if}}

    {{#if isRemoving}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <div class="ui stacked segment">
                    <h3 class="ui header">Are you sure you would like to delete {{programAdministration.name}}?</h3>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid red button" {{action "remove" programAdministration.id}}>Delete</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    <button class="ui mini circular icon button" {{action "edit" programAdministration.name programAdministration.position}} title="Edit">
        <i class="edit icon"></i>
    </button>
    <button class="ui mini circular red icon button" {{action "warning"}} title="Delete">
        <i class="remove icon"></i>
    </button>
</td>