{{#if isCreating}}
    <div class="create-bg ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui form">
                <div class="ui stacked segment">

                    <h2 class="ui header">New Program Administration</h2>

                    <div class="field">
                        <label>Name</label>
                        {{input type="text" value=name placeholder="Name..." autofocus="true"}}
                    </div>

                    <div class="field">
                        <label>Position</label>
                        {{input type="text" value=position placeholder="Position..."}}
                    </div>

                    <div class="field">
                        <label>Department</label>
                        {{#ui-dropdown class="search selection" onChange=(action "setDepartmentId")}}
                            <div class="default text">Select a department</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {{#each departments as |department|}}
                                    <div data-value="{{department.id}}" class="item">
                                        {{department.name}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/ui-dropdown}}
                    </div>

                    <div class="field">
                        <label>Academic Program Code</label>
                        {{#ui-dropdown class="search selection" onChange=(action "setAcademicProgramCodeId")}}
                            <div class="default text">Select an academic program code</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {{#each academicProgramCodes as |academicProgramCode|}}
                                    <div data-value="{{academicProgramCode.id}}" class="item">
                                        {{academicProgramCode.name}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/ui-dropdown}}
                    </div>

                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid green button" {{action "submit" name position}}>Submit</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{else}}
    <div class="right">
        <button class="create-button ui tiny button positive" {{action "create"}}>Create Program Administration</button>
    </div>
{{/if}}
