<td>
    <span>{{programRecord.level}}</span>
</td>
<td>
    <span>{{programRecord.status}}</span>
</td>
<td>
    <span>{{programRecord.comment}}</span>
</td>
<td>
    <span id="{{programRecord.id}}degreeCode">{{getValue programRecord 'degreeCode' 'name' programRecord.degreeCode.name (concat programRecord.id 'degreeCode')}}</span>
</td>
<td>
    <span id="{{programRecord.id}}termCode">{{getValue programRecord 'termCode' 'name' programRecord.termCode.name (concat programRecord.id 'termCode')}}</span>
</td>
<td class="right aligned">

    {{#if isEditing}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <form class="ui form">
                    <div class="ui stacked segment">

                        <h2 class="ui header">Edit {{province.name}}</h2>

                        <div class="field">
                            <label>New Level</label>
                            {{input type="text" value=level placeholder="Level..." autofocus="true"}}
                        </div>

                        <div class="field">
                            <label>New Status</label>
                            {{input type="text" value=status placeholder="Status..."}}
                        </div>

                        <div class="field">
                            <label>New Comment</label>
                            {{input type="text" value=comment placeholder="Comment..."}}
                        </div>

                        <div class="field">
                            <label>New Degree Code</label>
                            {{#ui-dropdown class="search selection" onChange=(action "setDegreeCodeId")}}
                                <div class="default text">Select a degree code</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {{#each degreeCodes as |degreeCode|}}
                                        <div data-value="{{degreeCode.id}}" class="item">
                                            {{degreeCode.name}}
                                        </div>
                                    {{/each}}
                                </div>
                            {{/ui-dropdown}}
                        </div>

                        <div class="field">
                            <label>New Term Code</label>
                            {{#ui-dropdown class="search selection" onChange=(action "setTermCodeId")}}
                                <div class="default text">Select a term code</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {{#each termCodes as |termCode|}}
                                        <div data-value="{{termCode.id}}" class="item">
                                            {{termCode.name}}
                                        </div>
                                    {{/each}}
                                </div>
                            {{/ui-dropdown}}
                        </div>

                        <div class="ui grid">
                            <div class="eight wide column">
                                <button class="ui fluid green button" {{action "submit" programRecord.id level status comment}}>Submit</button>
                            </div>
                            <div class="eight wide column">
                                <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {{/if}}

    {{#if isRemoving}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <div class="ui stacked segment">
                    <h3 class="ui header">Are you sure you would like to delete {{programRecord.level}}?</h3>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid red button" {{action "remove" programRecord.id}}>Delete</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    <button class="ui mini circular icon button" {{action "edit" programRecord.level programRecord.status programRecord.comment}}
            title="Edit">
        <i class="edit icon"></i>
    </button>
    <button class="ui mini circular red icon button" {{action "warning"}} title="Delete">
        <i class="remove icon"></i>
    </button>
</td>