{{#if isCreating}}
    <div class="create-bg ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui form">
                <div class="ui stacked segment">

                    <h2 class="ui header">New Program Record</h2>

                    <div class="field">
                        <label>Level</label>
                        {{input type="text" value=level placeholder="Level..." autofocus="true"}}
                    </div>

                    <div class="field">
                        <label>Status</label>
                        {{input type="text" value=status placeholder="Status..."}}
                    </div>

                    <div class="field">
                        <label>Comment</label>
                        {{input type="text" value=comment placeholder="Comment..."}}
                    </div>

                    <div class="field">
                        <label>Degree Code</label>
                        {{#ui-dropdown class="search selection" onChange=(action "setDegreeCodeId")}}
                            <div class="default text">Select a degree code</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {{#each degreeCodes as |degreeCode|}}
                                    <div data-value="{{degreeCode.id}}" class="item">
                                        {{degreeCode.name}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/ui-dropdown}}
                    </div>

                    <div class="field">
                        <label>Term Code</label>
                        {{#ui-dropdown class="search selection" onChange=(action "setTermCodeId")}}
                            <div class="default text">Select a term code</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {{#each termCodes as |termCode|}}
                                    <div data-value="{{termCode.id}}" class="item">
                                        {{termCode.name}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/ui-dropdown}}
                    </div>

                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid green button" {{action "submit" level status comment}}>Submit</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{else}}
    <div class="right">
        <button class="create-button ui tiny button positive" {{action "create"}}>Create Program Record</button>
    </div>
{{/if}}