<td>
    {{rolePermission.code}}
</td>
<td>
    {{rolePermission.sysFeature}}
</td>
<td class="right aligned">
    <button class="ui mini circular red icon button" {{action 'warning'}} title="Delete">
        <i class="remove icon"></i>
    </button>
</td>

{{#ui-modal class="small basic"}}
    <div class="ui icon header">
        <i class="remove icon"></i>
        Delete Role Permission {{rolePermission.code}}
    </div>
    <div class="content" style="text-align: center;">
        <p>Are you sure you would like to delete the role permission {{rolePermission.code}}?</p>
    </div>
    <div class="actions">
        <div class="ui basic cancel inverted button">No</div>
        <div class="ui red ok inverted button" {{action 'remove' rolePermission.id}}>Yes</div>
    </div>
{{/ui-modal}}