{{#if MSR01IsPermitted}}

    <div class="ui grid">
        <div class="eight wide column">
            <h2 class="ui header" style="margin-top: 2px;">Manage Role Codes</h2>
        </div>
        <div class="eight wide column">
            <div class="right">
                {{role-code-create}}
            </div>
        </div>
    </div>

    <table class="ui table" style="margin-top: 25px;">
        <thead>
        <tr>
            <th>Name</th>
            <th>Permissions</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each roleCodes as |roleCode|}}
            {{role-code-item roleCode=roleCode}}
        {{/each}}
        </tbody>
    </table>

{{else}}

    <div class="ui negative message">
        <div class="header">
            Access Denied: You do not have permission to create/edit/delete role codes
        </div>
        <p>Please ask the system administrator for the permission code MSR01 to be added to your account</p>
    </div>

{{/if}}