{{#if MF001IsPermitted}}

    <div class="ui grid">
        <div class="eight wide column">
            <h2 class="ui header" style="margin-top: 2px;">Manage Role Permissions</h2>
        </div>
        <div class="eight wide column">
            <div class="right">
                {{role-permission-create}}
            </div>
        </div>
    </div>

    <table class="ui table" style="margin-top: 25px;">
        <thead>
        <tr>
            <th>Code</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each rolePermissions as |rolePermission|}}
            {{role-permission-item rolePermission=rolePermission}}
        {{/each}}
        </tbody>
    </table>

{{else}}

    <div class="ui negative message">
        <div class="header">
            Access Denied: You do not have permission to create/view/delete role permissions
        </div>
        <p>Please ask the system administrator for the permission code MF001 to be added to your account</p>
    </div>

{{/if}}