<td>
    {{roleCode.name}}
</td>
<td>
    {{#each rolePermissions as |rolePermission|}}
        {{#each rolePermission.roleCodes as |code|}}
            {{#if (eq code.id roleCode.id)}}
                {{rolePermission.code}}&nbsp;
            {{/if}}
        {{/each}}
    {{/each}}
</td>
<td class="right aligned">
    <button class="ui mini circular icon button" {{action 'edit' roleCode}} title="Edit">
        <i class="edit icon"></i>
    </button>
    <button class="ui mini circular red icon button" {{action 'warning'}} title="Delete">
        <i class="remove icon"></i>
    </button>
</td>

{{#ui-modal class="small basic"}}
    <div class="ui icon header">
        <i class="remove icon"></i>
        Delete Role Code {{roleCode.name}}
    </div>
    <div class="content" style="text-align: center;">
        <p>Are you sure you would like to delete the role code {{roleCode.name}}?</p>
    </div>
    <div class="actions">
        <div class="ui basic cancel inverted button">No</div>
        <div class="ui red ok inverted button" {{action 'remove' roleCode.id roleCode}}>Yes</div>
    </div>
{{/ui-modal}}

{{#ui-modal class="edit small"}}
    <i class="close icon"></i>
    <div class="header">Edit Role Permission {{roleCode.name}}</div>
    <div class="content">
        <form class="ui form">
            <div class="ui grid">
                <div class="four wide column">
                    <div class="field">
                        <label>Name</label>
                        {{input class="edit name" type="text" value=name placeholder="Name..."}}
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="field">
                        <label>Permissions</label>
                        {{#ui-dropdown class="multiple search selection" onChange=(action "setRolePermissionId")}}
                            <div class="default text">Select permissions</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {{#each rolePermissions as |rolePermission|}}
                                    <div data-value="{{rolePermission.id}}" class="item">
                                        {{rolePermission.code}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/ui-dropdown}}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui positive button" {{action 'submit' roleCode.id}}>Submit</div>
        <div class="ui deny button" {{action 'cancel'}}>Cancel</div>
    </div>
{{/ui-modal}}