<button class="ui compact green button" {{action 'create'}}><i class="plus icon"></i>Create Role Code</button>

{{#ui-modal class="small"}}
    <i class="close icon"></i>
    <div class="header">Create a New Role Permission</div>
    <div class="content">
        <form class="ui form">
            <div class="ui grid">
                <div class="four wide column">
                    <div class="field">
                        <label>Name</label>
                        {{input type="text" value=name placeholder="Name..."}}
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="field">
                        <label>Permissions</label>
                        {{#ui-dropdown class="multiple search selection" onChange=(action "setRolePermissionId")}}
                            <div class="default text">Select permissions</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {{#each rolePermissions as |rolePermission|}}
                                    <div data-value="{{rolePermission.id}}" class="item">
                                        {{rolePermission.code}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/ui-dropdown}}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui positive button" {{action 'submit'}}>Submit</div>
        <div class="ui deny button" {{action 'close'}}>Cancel</div>
    </div>
{{/ui-modal}}