<button class="ui compact green button" {{action 'create'}}><i class="plus icon"></i>Create Role Permission</button>

{{#ui-modal class="small"}}
    <i class="close icon"></i>
    <div class="header">Create a New Role Permission</div>
    <div class="content">
        <form class="ui form">
            <div class="ui grid">
                <div class="four wide column">
                    <div class="field">
                        <label>Code</label>
                        {{input type="text" value=code placeholder="Code..."}}
                    </div>
                </div>
                <div class="twelve wide column">
                    <div class="field">
                        <label>Description</label>
                        {{input type="text" value=sysFeature placeholder="Description..."}}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui positive button" {{action 'submit'}}>Submit</div>
        <div class="ui deny button" {{action 'close'}}>Cancel</div>
    </div>
{{/ui-modal}}