<td>
    {{secondarySchool.name}}
</td>
<td>
    {{loadStudents}}
    {{student.studentNumber}}
</td>
<td class="right aligned">
    <button class="ui mini circular icon button" {{action 'edit' secondarySchool.id}} title="Edit">
        <i class="edit icon"></i>
    </button>
    <button class="ui mini circular red icon button" {{action 'warning'}} title="Delete">
        <i class="remove icon"></i>
    </button>
</td>

{{#ui-modal class="small view" onDeny=(action 'close')}}
    <i class="close icon"></i>
    <div class="header">Edit {{secondarySchool.name}}</div>
    <div class="content">
        <form class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>Name</label>
                    {{input type="text" value=name}}
                </div>
                <div class="field">
                    <label>Student</label>
                    {{#ui-dropdown class="student search selection" onChange=(action 'setStudent')}}
                        <div class="default text">Select Student</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {{#each students as |student|}}
                                <div data-value="{{student.id}}" class="item">
                                    {{student.studentNumber}}
                                </div>
                            {{/each}}
                        </div>
                    {{/ui-dropdown}}
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui green deny button" {{action 'submit' secondarySchool.id}}>Submit</div>
        <div class="ui deny button" {{action 'close'}}>Close</div>
    </div>
{{/ui-modal}}

{{#ui-modal class="small basic delete"}}
    <div class="ui icon header">
        <i class="remove icon"></i>
        Delete Secondary School {{secondarySchool.name}}
    </div>
    <div class="content" style="text-align: center;">
        <p>Are you sure you would like to delete the secondary school {{secondarySchool.name}}?</p>
    </div>
    <div class="actions">
        <div class="ui basic cancel inverted button" {{action 'close'}}>No</div>
        <div class="ui red ok inverted button" {{action 'remove' secondarySchool.id}}>Yes</div>
    </div>
{{/ui-modal}}