<button class="ui compact green button" {{action 'create'}}>
    <i class="plus icon"></i>
    Add Secondary School
</button>

{{#ui-modal class="small create" onDeny=(action 'close')}}
    <i class="close icon"></i>
    <div class="header">Add Secondary School to SAS</div>
    <div class="content">
        <form class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>Name</label>
                    {{input type="text" value=name placeholder="Name..."}}
                </div>
                <div class="field">
                    <label>Student</label>
                    {{#ui-dropdown class="student search selection" onChange=(action 'setStudent')}}
                        <div class="default text">Select Student</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {{#each students as |student|}}
                                <div data-value="{{student.id}}" class="item">
                                    {{student.studentNumber}}
                                </div>
                            {{/each}}
                        </div>
                    {{/ui-dropdown}}
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui green deny button" {{action 'submit'}}>Create</button>
        <button class="ui deny button" {{action 'close'}}>Cancel</button>
    </div>
{{/ui-modal}}