<div class="ui top grid">
    <div class="eight wide column">
        <h1 class="ui header">Secondary Schools</h1>
    </div>
    <div class="eight wide right column">
        {{secondary-school-create}}
    </div>
</div>

<div class="dimmable">
    <div class="ui active inverted dimmer view">
        <div class="ui text loader" style="top: 96px;">Loading</div>
    </div>
    <table class="ui table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Student</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{loadSecondarySchools}}
        {{#each secondarySchools as |secondarySchool|}}
            {{secondary-school-item secondarySchool=secondarySchool}}
        {{/each}}
        </tbody>
    </table>
</div>