{{#if MST01IsPermitted}}

    <div class="ui top grid">
        <div class="eight wide column">
            <h1 class="ui header">Students</h1>
            <div class="ui left icon input" style="width: 100%;">
                <input id="student-search-text" type="text" placeholder="Filter by Student Number">
                <i class="users icon"></i>
                <button class="ui button" {{action 'search'}}>Search</button>
            </div>
        </div>
        <div class="eight wide right column">
            {{student-create}}
        </div>
    </div>

    <div class="dimmable">
        <div class="ui active inverted dimmer view">
            <div class="ui text loader" style="top: 96px;">Loading</div>
        </div>
        <table class="ui students table">
            <thead>
            <tr>
                <th>Student Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{loadStudents}}
            {{#each students as |student|}}
                {{student-item student=student}}
            {{/each}}
            </tbody>
        </table>
    </div>

    {{#if paginate}}
        <div class="ui centered grid" style="margin-top: 10px;margin-bottom: 5px;">
            <div class="twelve wide column" style="text-align: center;">
                {{#unless (eq prev -10)}}
                    <button class="ui compact labeled icon button" {{action 'getPrev'}}>
                        <i class="left arrow icon"></i>Prev
                    </button>
                {{/unless}}
                {{#if anyLeft}}
                    <button class="ui compact right labeled icon button" {{action 'getNext'}}>
                        <i class="right arrow icon"></i>Next
                    </button>
                {{/if}}
            </div>
        </div>
    {{/if}}

{{else}}

    <div class="ui centered grid">
        <div class="twelve wide column">
            <div class="ui negative message">
                <div class="header">
                    Access Denied: You do not have permission to access the students
                </div>
                <p>Please ask the system administrator for the permission code MST01 to be added to your account</p>
            </div>
        </div>
    </div>

{{/if}}
