<td>
    <span>{{student.studentNumber}}</span>
</td>
<td>
    <span>{{student.firstName}}</span>
</td>
<td>
    <span>{{student.lastName}}</span>
</td>
<td class="right aligned">
    <button class="ui mini circular purple icon button level-one" {{action 'view' student.id}} title="Manage">
        <i class="user icon"></i>
    </button>
</td>

{{#ui-modal class="large view" onDeny=(action 'close')}}
    <i class="close icon"></i>
    <div class="header">{{student.firstName}} {{student.lastName}}'s Student Record</div>
    <div class="content">
        <div class="dimmable">
            <div class="ui active inverted dimmer student">
                <div class="ui text loader" style="top: 196px;">Loading</div>
            </div>
            <div class="ui grid">
                <div class="four wide column">
                    <div class="ui fluid secondary vertical menu">
                        <a class="active item" data-tab="profile-tab">
                            Profile<i class="user icon"></i>
                        </a>
                        <a class="item" data-tab="edit-student-tab">
                            Edit Student<i class="edit icon"></i>
                        </a>
                        <a class="item" data-tab="grade-tab">
                            Grades<i class="archive icon"></i>
                        </a>
                        <a class="item" data-tab="itr-program-tab">
                            ITR Programs<i class="sitemap icon"></i>
                        </a>
                        <a class="item" data-tab="distribution-tab">
                            Distribution Result<i class="browser icon"></i>
                        </a>
                    </div>
                </div>
                <div class="twelve wide column">

                    <div class="ui active tab" data-tab="profile-tab">
                        <table class="ui very basic padded table">
                            <tbody>
                            <tr>
                                <td class="top"><b>Student Number</b></td>
                                <td class="top">{{student.studentNumber}}</td>
                            </tr>
                            <tr>
                                <td><b>Name</b></td>
                                <td>{{student.firstName}} {{student.lastName}}</td>
                            </tr>
                            <tr>
                                <td><b>Date of Birth</b></td>
                                <td>{{student.DOB}}</td>
                            </tr>
                            <tr>
                                <td><b>Residency</b></td>
                                <td>{{residency.name}}</td>
                            </tr>
                            <tr>
                                <td><b>Gender</b></td>
                                <td>{{gender.name}}</td>
                            </tr>
                            <tr>
                                <td><b>Academic Load</b></td>
                                <td>{{academicLoad.name}}</td>
                            </tr>
                            <tr>
                                <td><b>Location</b></td>
                                <td>{{city.name}}, {{province.name}}, {{country.name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="ui tab" data-tab="edit-student-tab">
                        <form class="ui form">
                            <div class="field">
                                <label>Student Number</label>
                                {{input type="text" value=studentNumber}}
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>First Name</label>
                                    {{input type="text" value=firstName}}
                                </div>
                                <div class="field">
                                    <label>Last Name</label>
                                    {{input type="text" value=lastName}}
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Date of Birth</label>
                                    {{input type="date" class="DOB" value=DOB}}
                                </div>
                                <div class="field">
                                    <label>Residency</label>
                                    {{#ui-dropdown class="residency selection" onChange=(action 'setResidency')}}
                                        <div class="default text">Select Residency</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            {{#each residencies as |item|}}
                                                <div data-value="{{item.id}}" class="item">
                                                    {{item.name}}
                                                </div>
                                            {{/each}}
                                        </div>
                                    {{/ui-dropdown}}
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Gender</label>
                                    {{#ui-dropdown class="gender selection" onChange=(action 'setGender')}}
                                        <div class="default text">Select Gender</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            {{#each genders as |item|}}
                                                <div data-value="{{item.id}}" class="item">
                                                    {{item.name}}
                                                </div>
                                            {{/each}}
                                        </div>
                                    {{/ui-dropdown}}
                                </div>
                                <div class="field">
                                    <label>Academic Load</label>
                                    {{#ui-dropdown class="academicLoad selection" onChange=(action 'setAcademicLoad')}}
                                        <div class="default text">Select Academic Load</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            {{#each academicLoads as |item|}}
                                                <div data-value="{{item.id}}" class="item">
                                                    {{item.name}}
                                                </div>
                                            {{/each}}
                                        </div>
                                    {{/ui-dropdown}}
                                </div>
                            </div>
                            <div class="three fields">
                                <div class="field">
                                    <label>Country</label>
                                    {{#ui-dropdown class="country selection" onChange=(action 'setCountry')}}
                                        <div class="default text">Select Country</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            {{#each countries as |item|}}
                                                <div data-value="{{item.id}}" class="item">
                                                    {{item.name}}
                                                </div>
                                            {{/each}}
                                        </div>
                                    {{/ui-dropdown}}
                                </div>
                                <div class="field">
                                    <label>Province</label>
                                    {{#ui-dropdown class="province selection" onChange=(action 'setProvince')}}
                                        <div class="default text">Select Province</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            {{#each provinces as |item|}}
                                                <div data-value="{{item.id}}" class="item">
                                                    {{item.name}}
                                                </div>
                                            {{/each}}
                                        </div>
                                    {{/ui-dropdown}}
                                </div>
                                <div class="field">
                                    <label>City</label>
                                    {{#ui-dropdown class="city selection" onChange=(action 'setCity')}}
                                        <div class="default text">Select City</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            {{#each cities as |item|}}
                                                <div data-value="{{item.id}}" class="item">
                                                    {{item.name}}
                                                </div>
                                            {{/each}}
                                        </div>
                                    {{/ui-dropdown}}
                                </div>
                            </div>
                            <div class="ui grid">
                                <div class="eight wide column">
                                    <button class="ui green compact button" {{action 'edit' student.id}}>Submit
                                        Changes
                                    </button>
                                </div>
                                <div class="eight wide column" style="text-align: right;">
                                    <button class="ui red compact button" {{action 'warning'}}>Delete Student</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="ui tab" data-tab="grade-tab">
                        <table class="ui compact table">
                            <thead>
                            <tr>
                                <th>Mark</th>
                                <th>Course</th>
                                <th>Section</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each grades as |grade|}}
                                <tr>
                                    <td>{{grade.grade.mark}}</td>
                                    <td>{{grade.courseCode.code}} {{grade.courseCode.number}}</td>
                                    <td>{{grade.grade.section}}</td>
                                    <td>
                                        <button class="ui mini compact button" {{action 'editGrade' grade.grade.id grade.courseCode.id grade.grade.mark grade.courseCode.code grade.courseCode.number grade.grade.section}}>
                                            Edit
                                        </button>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>

                    <div class="ui tab" data-tab="itr-program-tab">
                        <table class="ui compact table">
                            <thead>
                            <tr>
                                <th>Order</th>
                                <th>Program</th>
                                <th>Eligibility</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each itrPrograms as |itrProgram|}}
                                <tr>
                                    <td>{{itrProgram.itrProgram.order}}</td>
                                    <td>{{itrProgram.program.name}}</td>
                                    <td>{{#if itrProgram.itrProgram.eligibility}}Yes{{else}}No{{/if}}</td>
                                    <td>
                                        <button class="ui mini compact button" {{action 'editItrProgram' itrProgram.itrProgram.id itrProgram.program.id itrProgram.itrProgram.order itrProgram.program.name itrProgram.itrProgram.eligibility}}>
                                            Edit
                                        </button>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>

                    <div class="ui tab" data-tab="distribution-tab">
                        <table class="ui compact table">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Accepted</th>
                                <th>Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each distributionResults as |result|}}
                                <tr>
                                    <td>{{result.result.date}}</td>
                                    <td>{{#if result.result.rejected}}No{{else}}Yes{{/if}}</td>
                                    <td>{{result.comment.description}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui deny button">Close</div>
    </div>
{{/ui-modal}}

{{#ui-modal class="small basic delete"}}
    <div class="ui icon header">
        <i class="remove icon"></i>
        Delete Student {{student.firstName}} {{student.lastName}}
    </div>
    <div class="content" style="text-align: center;">
        <p>Are you sure you would like to delete the student {{student.studentNumber}}?</p>
    </div>
    <div class="actions">
        <div class="ui basic cancel inverted button" {{action 'cancelRemove'}}>No</div>
        <div class="ui red ok inverted button" {{action 'remove' student.id}}>Yes</div>
    </div>
{{/ui-modal}}

{{#ui-modal class="edit-grade"}}
    <div class="header">Edit {{student.firstName}} {{student.lastName}}'s Grades</div>
    <div class="content">
        <form class="ui form">
            <div class="four fields">
                <div class="field">
                    <label>Mark</label>
                    {{input type="text" value=gradeMark}}
                </div>
                <div class="field disabled">
                    <label>Course Code</label>
                    {{input type="text" value=gradeCode}}
                </div>
                <div class="field disabled">
                    <label>Course Number</label>
                    {{input type="text" value=gradeNumber}}
                </div>
                <div class="field">
                    <label>Section</label>
                    {{input type="text" value=gradeSection}}
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui green deny button" {{action 'submitGrade'}}>Submit</button>
        <button class="ui deny button" {{action 'cancelGrade'}}>Cancel</button>
    </div>
{{/ui-modal}}

{{#ui-modal class="edit-itr-program"}}
    <div class="header">Edit {{student.firstName}} {{student.lastName}}'s ITR Programs</div>
    <div class="content">
        <form class="ui form">
            <div class="ui grid">
                <div class="three wide column ">
                    <div class="field">
                        <label>Order</label>
                        {{input type="text" value=itrProgramOrder}}
                    </div>
                </div>
                <div class="ten wide column">
                    <div class="field disabled">
                        <label>Name</label>
                        {{input type="text" value=itrProgramName}}
                    </div>
                </div>
                <div class="three wide column">
                    <div class="field" style="padding-top: 15px;">
                        {{ui-checkbox checked=itrProgramEligibility label="Eligibility"}}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui green deny button" {{action 'submitItrProgram'}}>Submit</button>
        <button class="ui deny button" {{action 'cancelItrProgram'}}>Cancel</button>
    </div>
{{/ui-modal}}
