
<!--
{{#ui-modal class="create" onDeny=(action 'hide' 'create')}}
    <i class="close icon"></i>
    <div class="header">Add Students to SAS</div>
    <div class="content">
                    <form class="ui form">
                        <div class="two fields">

                            <div class="field">
                                <label>First Name</label>
                                {{input type="text" value=firstName placeholder="First name..."}}
                            </div>

                            <div class="field">
                                <label>Last Name</label>
                                {{input type="text" value=lastName placeholder="Last name..."}}
                            </div>

                        </div>

                        <div class="field">
                            <label>Student Number</label>
                            {{input type="text" value=studentNumber placeholder="Student number..."}}
                        </div>

                        <div class="two fields">

                            <div class="field">
                                <label>Date of Birth</label>
                                {{input type="date" value=DOB placeholder="Date of birth..."}}
                            </div>

                            <div class="field">
                                <label>Gender</label>
                                {{#ui-dropdown class="selection" onChange=(action 'setGender')}}
                                    <div class="default text">Gender...</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        {{#each genders as |gender|}}
                                            <div data-value="{{gender.id}}" class="item">{{gender.name}}</div>
                                        {{/each}}
                                    </div>
                                {{/ui-dropdown}}
                            </div>

                        </div>
                        <div class="two fields">

                            <div class="field">
                                <label>Academic Load</label>
                                {{#ui-dropdown class="selection" onChange=(action 'setAcademicLoad')}}
                                    <div class="default text">Academic load...</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        {{#each academicLoads as |academicLoad|}}
                                            <div data-value="{{academicLoad.id}}" class="item">{{academicLoad.name}}</div>
                                        {{/each}}
                                    </div>
                                {{/ui-dropdown}}
                            </div>

                            <div class="field">
                                <label>Residency</label>
                                {{#ui-dropdown class="selection" onChange=(action 'setResidency')}}
                                    <div class="default text">Residency...</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        {{#each residencies as |residency|}}
                                            <div data-value="{{residency.id}}" class="item">{{residency.name}}</div>
                                        {{/each}}
                                    </div>
                                {{/ui-dropdown}}
                            </div>

                        </div>
                        <div class="three fields">

                            <div class="field">
                                <label>Country</label>
                                {{#ui-dropdown class="search selection" onChange=(action 'setCountry')}}
                                    <div class="default text">Country...</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        {{#each countries as |country|}}
                                            <div data-value="{{country.id}}" class="item">{{country.name}}</div>
                                        {{/each}}
                                    </div>
                                {{/ui-dropdown}}
                            </div>

                            <div class="disabled province field">
                                <labeL>Province</labeL>
                                {{#ui-dropdown class="search selection" onChange=(action 'setProvince')}}
                                    <div class="default text">Province...</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        {{#each filterProvinces as |province|}}
                                            <div data-value="{{province.id}}" class="item">{{province.name}}</div>
                                        {{/each}}
                                    </div>
                                {{/ui-dropdown}}
                            </div>

                            <div class="disabled city field">
                                <labeL>City</labeL>
                                {{#ui-dropdown class="search selection" onChange=(action 'setCity')}}
                                    <div class="default text">City...</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        {{#each filterCities as |city|}}
                                            <div data-value="{{city.id}}" class="item">{{city.name}}</div>
                                        {{/each}}
                                    </div>
                                {{/ui-dropdown}}
                            </div>

                        </div>
                    </form>
    <div class="actions">
        <div class="ui green button" {{action 'create'}}>Submit</div>
        <div class="ui deny button" {{action 'hide' 'create'}}>Cancel</div>
    </div>
{{/ui-modal}}
-->
{{#if isCreatingStudent}}
    <div class="create-student ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui form">
                <div class="ui stacked segment">
                    <h2 class="ui header">New Student</h2>

                    <div class = "two fields">
                        <div class="field">
                        <label>First Name</label>
                        {{input type="text" required="true" placeholder="First Name..." value=firstName}}
                        </div>
                        <div class="field">
                        <label>Last Name</label>
                        {{input type="text" placeholder="Last Name..." value=lastName}}
                        </div>
                    </div>

                    <div class="field">
                        <label>Student Number</label>
                        {{input type="text" placeholder="Student Number..." value=studentNumber}}
                    </div>

                    <div class = "two fields">

                        <div class="field">
                            <label>Date of Birth</label>
                            {{input type="date" placeholder="Date of Birth..." value=DOB}}
                        </div>

                        <div class="field">
                            <label>Gender</label>
                                {{#ui-dropdown class="selection compact" onChange=(action "setGender")}}
                                <div class="default text">Gender</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {{#each genders as |gender|}}
                                        <div data-value="{{gender.id}}" class="item">{{gender.name}}</div>
                                    {{/each}}
                                </div>
                                {{/ui-dropdown}}
                        </div>

                    </div>

                    <div class = "two fields">
                        <div class="field">
                            <label>Academic Load</label>
                                {{#ui-dropdown class="selection compact" onChange=(action "setStudyLoad")}}
                                <div class="default text">Academic Load</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {{#each studyLoads as |studyLoad|}}
                                        <div data-value="{{studyLoad.id}}" class="item">{{studyLoad.name}}</div>
                                    {{/each}}
                                </div>
                                {{/ui-dropdown}}
                        </div>

                        <div class="field">
                            <label>Residency</label>
                                {{#ui-dropdown class="selection compact" onChange=(action "setResInfo")}}
                                <div class="default text">Residency</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {{#each residencies as |residency|}}
                                        <div data-value="{{residency.id}}" class="item">{{residency.name}}</div>
                                    {{/each}}
                                </div>
                                {{/ui-dropdown}}
                        </div>
                    </div>

                    <div class="three fields">

                        <div class="field">
                            <label>Country</label>
                                {{#ui-dropdown class="selection compact" onChange=(action "setCountry")}}
                                <div class="default text">Country</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {{#each countries as |country|}}
                                        <div data-value="{{country.id}}" class="item">{{country.name}}</div>
                                    {{/each}}
                                </div>
                                {{/ui-dropdown}}
                        </div>

                        <div class="field">
                            <label>Province</label>
                                {{#ui-dropdown class="selection compact" onChange=(action "setProvince")}}
                                <div class="default text">Province</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {{#each provinces as |province|}}
                                        <div data-value="{{province.id}}" class="item">{{province.name}}</div>
                                    {{/each}}
                                </div>
                                {{/ui-dropdown}}
                        </div>

                        <div class="field">
                            <label>City</label>
                                {{#ui-dropdown class="selection compact" onChange=(action "setCity")}}
                                <div class="default text">City</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {{#each cities as |city|}}
                                        <div data-value="{{city.id}}" class="item">{{city.name}}</div>
                                    {{/each}}
                                </div>
                                {{/ui-dropdown}}
                        </div>

                    </div>

                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid green button" {{action "submitStudent" studentNumber firstName lastName}}>Submit</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancelCreateStudent"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{else}}
<div class="right">
    <button class="ui compact green button" {{action 'createStudent'}}>
        <i class="plus icon"></i>
        Add Student
    </button>
</div>
    <!--<div class="right">
        <button class="create-button ui tiny button positive" {{action "createStudent"}}>Create Student</button>
    </div>-->
{{/if}}
