<td>
	<span>{{termCode.name}}</span>
</td>
<td class="right aligned">

	{{#if isEditing}}
		<div class="create-bg ui middle aligned center aligned grid">
			<div class="column">
				<form class="ui form">
					<div class="ui stacked segment">
						<h2 class="ui header">Edit {{termCode.name}}</h2>
						<div class="field">
							<label>New Name</label>
							{{input type="text" value=name placeholder="Name..." autofocus="true"}}
						</div>
						<div class="ui grid">
							<div class="eight wide column">
								<button class="ui fluid green button" {{action "submit" termCode.id name}}>
									Submit
								</button>
							</div>
							<div class="eight wide column">
								<button class="ui fluid button" {{action "cancel"}}>Cancel</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	{{/if}}

    {{#if isRemoving}}
        <div class="create-bg ui middle aligned center aligned grid">
            <div class="column">
                <div class="ui stacked segment">
                    <h3 class="ui header">Are you sure you would like to delete {{termCode.name}}?</h3>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="ui fluid red button" {{action "remove" termCode.id}}>Delete</button>
                        </div>
                        <div class="eight wide column">
                            <button class="ui fluid button" {{action "cancel"}}>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    <button class="ui mini circular icon button" {{action "edit" termCode.name}} title="Edit">
        <i class="edit icon"></i>
    </button>
    <button class="ui mini circular red icon button" {{action "warning"}} title="Delete">
        <i class="remove icon"></i>
    </button>
</td>
