{{#if isCreating}}
	<div class="create-bg ui middle aligned center aligned grid">
		<div class="column">
			<form class="ui form">
				<div class="ui stacked segment">

					<h2 class="ui header">New Term Code</h2>

					<div class="field">
						<label>Name</label>
						{{input type="text" value=name placeholder="Name..." autofocus="true"}}
					</div>

					<div class="ui grid">
						<div class="eight wide column">
							<button class="ui fluid green button" {{action "submit" name}}>Submit</button>
						</div>
						<div class="eight wide column">
							<button class="ui fluid button" {{action "cancel"}}>Cancel</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
{{else}}
	<div class="right">
		<button class="create-button ui tiny button positive" {{action "create"}}>Create Term Code</button>
	</div>
{{/if}}