<div class="right">
    <button class="ui compact button positive" {{action "create"}}><i class="plus icon"></i>Create User</button>
</div>

{{#ui-modal class="small"}}
    {{#if ANU01IsPermitted}}

        <i class="close icon"></i>
        <div class="header">Create New User</div>
        <div class="content">
            <form class="ui form">
                <div class="two fields">
                    <div class="field">
                        <label>First Name</label>
                        {{input type="text" value=firstName placeholder="Enter in first name..."}}
                    </div>
                    <div class="field">
                        <label>Last Name</label>
                        {{input type="text" value=lastName placeholder="Enter in last name..."}}
                    </div>
                </div>
                <div class="field">
                    <label>Email Address</label>
                    {{input type="text" value=email placeholder="Enter in email address..."}}
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Username</label>
                        {{input type="text" value=username placeholder="Enter in username..."}}
                    </div>
                    <div class="field">
                        <label>Password</label>
                        {{input type="password" value=password placeholder="Enter in password..."}}
                    </div>
                </div>
                <div class="field">
                    <label>Account Expiry Date</label>
                    {{input type="date" value=expiry placeholder="Select expiry date..."}}
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui positive button" {{action 'submit'}}>Submit</div>
            <div class="ui deny button" {{action 'close'}}>Cancel</div>
        </div>

    {{else}}

        <i class="close icon"></i>
        <div class="header">Create New User</div>
        <div class="content">
            <div class="ui negative message">
                <div class="header">
                    Access Denied: You do not have permission to create users
                </div>
                <p>Please ask the system administrator for the permission code ANU01 to be added to your account</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui deny button">Cancel</div>
        </div>

    {{/if}}
{{/ui-modal}}