<td>
    {{userRoleCode.name}}
</td>
<td>
    {{getDateAssigned}}
</td>
<td class="right aligned">
    <div>
        <button class="ui mini circular red icon button" {{action 'remove' userRoleCode.id}} title="Remove">
            <i class="remove icon"></i>
        </button>
    </div>
</td>

{{#ui-modal class="small user-role-remove"}}
    <div class="ui icon header">
        <i class="remove icon"></i>
        Remove User Role {{userRoleCode.name}}
    </div>
    <div class="content" style="text-align: center;">
        <p>Are you sure you would like to Remove the user role {{userRoleCode.name}} from this user?</p>
    </div>
    <div class="actions">
        <div class="ui basic cancel inverted button">No</div>
        <div class="ui red ok inverted button" {{action 'remove' userRoleCode.id}}>Yes</div>
    </div>
{{/ui-modal}}