<div class="ui grid">
    <div class="eight wide column">
        <h2 class="ui header" style="margin-top: 2px;">Manage Users</h2>
    </div>
    <div class="eight wide column">
        {{user-create}}
    </div>
</div>

<table class="ui table" style="margin-top: 25px;">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Enabled</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each users as |user|}}
        {{user-item user=user}}
    {{/each}}
    </tbody>
</table>