<td>
    {{user.firstName}}
</td>
<td>
    {{user.lastName}}
</td>
<td>
    {{user.email}}
</td>
<td>
    {{ui-checkbox checked=isEnabled onChange=(action 'enable' user.id)}}
</td>
<td class="right aligned">
    <button style="background-color: #4F2683" class="ui mini circular purple icon button" {{action 'view' user.id}}
            title="Manage">
        <i class="user icon"></i>
    </button>
</td>

{{#ui-modal class="view"}}
    <i class="close icon"></i>
    <div class="header">Manage {{user.firstName}} {{user.lastName}}'s Profile</div>
    <div class="content">
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui vertical menu" style="width: 100%;">
                    <a class="active item" data-tab="roles-tab">
                        Manage Roles<i class="tasks icon"></i>
                    </a>
                    <a class="item" data-tab="edit-tab">
                        Edit User<i class="edit icon"></i>
                    </a>
                    <a class="item" data-tab="password-tab">
                        Reset Password<i class="lock icon"></i>
                    </a>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui active tab" data-tab="roles-tab">
                    {{#if MR001IsPermitted}}
                        <div class="ui grid">
                            <div class="eight wide column">
                                <h2 class="ui header" style="margin-top: 2px;">Manage User Roles</h2>
                            </div>
                            <div class="eight wide column">
                                <div class="right">
                                    {{#ui-dropdown class="labeled icon top right green pointing button" onChange=(action 'addUserRole')}}
                                        <i class="plus icon"></i>
                                        Add User Role
                                        <div class="menu">
                                            <div class="ui search icon input">
                                                <i class="search icon"></i>
                                                <input type="text" name="search" placeholder="Search user roles...">
                                            </div>
                                            <div class="divider"></div>
                                            <div class="header">
                                                <i class="unordered list icon"></i>
                                                Select User Role
                                            </div>
                                            {{#each roleCodes as |roleCode|}}
                                                <div data-value="{{roleCode.id}}" class="item">
                                                    {{roleCode.name}}
                                                </div>
                                            {{/each}}
                                        </div>
                                    {{/ui-dropdown}}
                                </div>
                            </div>
                        </div>
                        <table class="ui table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date Assigned</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each userRoleCodes as |userRoleCode i|}}
                                {{user-role-item userRoleCodes=userRoleCodes userRoleCode=userRoleCode i=i userRoles=userRoles userID=user.id}}
                            {{/each}}
                            </tbody>
                        </table>
                    {{else}}
                        <div class="ui negative message">
                            <div class="header">
                                Access Denied: You do not have permission to manage user roles
                            </div>
                            <p>Please ask the system administrator for the permission code MR001 to be added to your
                                account</p>
                        </div>
                    {{/if}}
                </div>
                <div class="ui tab" data-tab="edit-tab">
                    {{#if EU001IsPermitted}}
                        <form class="ui form">
                            <div class="two fields">
                                <div class="field">
                                    <label>First Name</label>
                                    {{input type="text" value=firstName placeholder="Enter in first name..."}}
                                </div>
                                <div class="field">
                                    <label>Last Name</label>
                                    {{input type="text" value=lastName placeholder="Enter in last name..."}}
                                </div>
                            </div>
                            <div class="field">
                                <label>Email Address</label>
                                {{input type="text" value=email placeholder="Enter in email address..."}}
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Username</label>
                                    {{input type="text" value=username placeholder="Enter in username..."}}
                                </div>
                                <div class="field">
                                    <label>Account Expiry Date</label>
                                    {{input type="date" value=expiry placeholder="Select expiry date..."}}
                                </div>
                            </div>
                            <div class="ui grid">
                                <div class="eight wide column">
                                    <button class="ui red button" {{action 'remove'}}>Delete User</button>
                                </div>
                                <div class="eight wide column" style="text-align: right;">
                                    <button class="ui green button" {{action 'submitEdit' user.id}}>Submit</button>
                                </div>
                            </div>
                        </form>
                    {{else}}
                        <div class="ui negative message">
                            <div class="header">
                                Access Denied: You do not have permission to edit users
                            </div>
                            <p>Please ask the system administrator for the permission code EU001 to be added to your
                                account</p>
                        </div>
                    {{/if}}
                </div>
                <div class="ui tab" data-tab="password-tab">
                    {{#if EU002IsPermitted}}
                        <form class="ui reset form" style="margin-top: 10px;">
                            <div class="field">
                                <label>Temporary Password</label>
                                {{input type="password" value=tempPass}}
                            </div>
                            <div class="ui grid">
                                <div class="sixteen wide column" style="text-align: right;">
                                    <div class="ui positive button" {{action 'submitPassword' user.id}}>Submit</div>
                                </div>
                            </div>
                        </form>
                    {{else}}
                        <div class="ui negative message">
                            <div class="header">
                                Access Denied: You do not have permission to reset passwords
                            </div>
                            <p>Please ask the system administrator for the permission code EU002 to be added to your
                                account</p>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>

<!--        <script>
            $(document).ready(function () {
                $('.vertical.menu .item').tab({history: false});
            });
        </script>-->
    </div>
{{/ui-modal}}

{{#ui-modal class="small remove basic"}}
    {{#if EU003IsPermitted}}
        <div class="ui icon header">
            <i class="remove icon"></i>
            Delete User {{user.firstName}} {{user.lastName}}
        </div>
        <div class="content" style="text-align: center;">
            <p>Are you sure you would like to delete user {{user.firstName}} {{user.lastName}}?</p>
        </div>
        <div class="actions">
            <div class="ui basic cancel inverted button" {{action 'cancelRemove'}}>No</div>
            <div class="ui red ok inverted button" {{action 'submitRemove' user.id}}>Yes</div>
        </div>
    {{else}}
        <div class="ui icon header">
            <i class="remove icon"></i>
            Access Denied: You do not have permission to delete users
        </div>
        <div class="content" style="text-align: center;">
            <p>Please ask the system administrator for the permission code EU003 to be added to your account</p>
        </div>
        <div class="actions">
            <div class="ui basic cancel inverted button" {{action 'cancelRemove'}}>Cancel</div>
        </div>
    {{/if}}
{{/ui-modal}}