<div class="ui body container">

    {{loadUser}}

    <div class="ui top centered grid">
        <div class="twelve wide column">

            {{#if (not-eq oudaAuth.getName "Root")}}
                {{#if EUP01IsPermitted}}
<div class="ui segment">
                    <div class="ui grid">
                        <div class="eight wide column">
                            <h1 class="ui header">{{user.firstName}} {{user.lastName}}'s Profile</h1>
                        </div>
                        <div class="eight wide column">
                            <div class="right">
                                <button class="ui compact green button" {{action 'edit' user.firstName user.lastName user.email}}>
                                    Edit User
                                </button>
                            </div>
                        </div>
                    </div>

                    <table class="ui very basic padded table">
                        <tbody>
                        <tr>
                            <td><b>User Name</b></td>
                            <td>{{userName}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>First Name</b></td>
                            <td>{{user.firstName}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Last Name</b></td>
                            <td>{{user.lastName}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>E-mail</b></td>
                            <td>{{user.email}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="bottom"><b>Password</b></td>
                            <td class="bottom">********</td>
                            <td class="bottom" style="text-align: right;"><a
                                    href="#" {{action 'resetPassword'}}>Reset</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                {{else}}
                    <div class="ui negative message">
                        <div class="header">
                            Access Denied: You do not have permission to view/modify your user profile
                        </div>
                        <p>Please ask the system administrator for the permission code EUP01 to be added to your account</p>
                    </div>
                {{/if}}
            {{else}}
                <div class="ui negative message">
                    <div class="header">
                        Error: The root user cannot view/modify their profile
                    </div>
                    <p>The root user does not have a profile that can be modified</p>
                </div>
            {{/if}}
        </div>
    </div>
</div>

{{#ui-modal class="edit small" onDeny=(action 'close')}}
    <i class="close icon"></i>
    <div class="header">Edit {{user.firstName}} {{user.lastName}}'s Profile</div>
    <div class="content">
        <form class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>First Name</label>
                    {{input type="text" value=firstName}}
                </div>
                <div class="field">
                    <label>Last Name</label>
                    {{input type="text" value=lastName}}
                </div>
            </div>
            <div class="field">
                <label>Email</label>
                {{input type="text" value=email}}
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui positive button" {{action 'submit' user.id}}>Submit</div>
        <div class="ui deny button">Cancel</div>
    </div>
{{/ui-modal}}

{{#ui-modal class="resetPassword small"}}
    <i class="close icon"></i>
    <div class="header">Reset Password</div>
    <div class="content">
        <form class="ui reset form">
            <div class="field">
                <label>Old Password</label>
                {{input type="password" value=oldPass}}
            </div>
            <div class="field">
                <label>New Password</label>
                {{input type="password" value=newPass1}}
            </div>
            <div class="field">
                <label>Re-enter New Password</label>
                {{input type="password" value=newPass2}}
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui positive button" {{action 'submitPassword' user.id}}>Submit</div>
        <div class="ui deny button">Cancel</div>
    </div>
{{/ui-modal}}