<div class="ui body container">
    <div class="ui segment">
        <div class="ui grid">
            <div class="ui sixteen wide column">
                <h1 class="ui centered header">About Us</h1>
            </div>

            <div class="ui five wide column">
                <img class="ui medium image" src="/assets/images/joseph.jpg" alt="Joseph"/>
            </div>
            <div class="ui eleven wide column">
                <h3>Joseph Roussy</h3>
                <p>
                    Joseph decided to pursue a career as a Software Engineer after he fell in love with software development during
                    his first-year programming course. With previous experience as a patent administrator, Joseph has a passion for
                    desktop and web-based applications and looks forward to expanding his mobile application development skills. Joseph
                    lives in London Ontario and enjoys playing tennis and squash in his free time.
                </p>
                <p>
                    <a href="mailto:jroussy@uwo.ca?Subject=[Western Student Admission System] ">jroussy@uwo.ca</a>
                </p>

            </div>

            <div class="ui five wide column">
                <img class="ui medium image" src="/assets/images/stefan.jpg" alt="Stefan"/>
            </div>
            <div class="ui eleven wide column">
                <h3>Stefan Kramreither</h3>
                <p>
                    An aspiring software engineer from Toronto who is focusing their efforts in web and mobile development
                    and is always looking for a challenge. He enjoys finding new ways to improve his coding methods as well as
                    trying out the newest technologies for the web and mobile platform.
                </p>
                <p>
                    <a href="mailto:skramrei@uwo.ca?Subject=[Western Student Admission System] ">skramrei@uwo.ca</a>
                </p>
            </div>

            <div class="ui five wide column">
                <img class="ui medium image" src="/assets/images/kirk.jpg" alt="Kirk"/>
            </div>
            <div class="ui eleven wide column">
                <h3>Kirkland Landry</h3>
                <p>
                    A software engineering student living in London Ontario. Enjoys working on desktop applications.
                </p>
                <p>
                    <a href="mailto:klandry7@uwo.ca?Subject=[Western Student Admission System] ">klandry7@uwo.ca</a>
                </p>
            </div>

            <div class="ui five wide column">
                <img class="ui medium image" src="/assets/images/fabio.jpg" alt="Fabio"/>
            </div>
            <div class="ui eleven wide column">
                <h3>Fabio Moná Torres</h3>
                <p>
                    Originally considering a career in civil engineering, a first year computer programming course made Fabio
                    change his mind. This software engineering student enjoys movies and cycling during his spare time.
                </p>
                <p>
                    <a href="mailto:fmonator@uwo.ca?Subject=[Western Student Admission System] ">fmonator@uwo.ca</a>
                </p>
            </div>

            <div class="ui five wide column">
                <img class="ui medium image" src="/assets/images/victor.jpg" alt="Victor"/>
            </div>
            <div class="ui eleven wide column">
                <h3>Victor Villatoro</h3>
                <p>
                    London local who has had an interest in the ece world since taking a technology oriented class in high school.
                    After taking a programming course at western it became apparent that software engineering was the path this
                    student should follow. In his spare time he draws, enjoys episodes of friends and plays video games here and there.
                </p>
                <p>
                    <a href="mailto:vvillato@uwo.ca?Subject=[Western Student Admission System] ">vvillato@uwo.ca</a>
                </p>
            </div>
        </div>
    </div>
</div>
