<div class="ui body container">

    <div class="ui top grid">
        <div class="eight wide column">
            <h1 class="ui header">Academic Loads</h1>
        </div>
        <div class="eight wide column">
            {{academic-load-create}}
        </div>
    </div>

    <table class="ui compact table">
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |academicLoad|}}
            {{academic-load-item academicLoad=academicLoad}}
        {{/each}}
        </tbody>
    </table>
</div>