<div class="ui body container">

    <div class="ui top grid">
        <div class="eight wide column">
            <h1 class="ui header">Academic Programs</h1>
        </div>
        <div class="eight wide column">
            {{academic-program-code-create}}
        </div>
    </div>

    <table class="ui compact table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Rule</th>
            <th>Comment Code</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |academicProgramCode|}}
            {{academic-program-code-item academicProgramCode=academicProgramCode}}
        {{/each}}
        </tbody>
    </table>
</div>
