<div class="ui body container">

    <div class="ui top grid">
        <div class="eight wide column">
            <h1 class="ui header">Admission Rules</h1>
        </div>
        <div class="eight wide column">
            {{admission-rule-create}}
        </div>
    </div>

    <table class="ui compact table">
        <thead>
        <tr>
            <th>Description</th>
            <th class="right aligned"></th>
        </tr>
        </thead>
        <tbody>
        {{#each model.rules as |admission_rule|}}
            {{admission-rule-item admission_rule=admission_rule}}
        {{/each}}
        </tbody>
    </table>
</div>
