{{#if oudaAuth.isAuthenticated}}
    <div id="top-menu" class="ui fixed inverted menu">
      {{#link-to 'home'}}
          <a class="header item" href="#">
              <img class="sas-logo logo" src="assets/images/sas-logo_72_white.png" alt="SAS Logo" title="SAS Logo">
              Student Admission System
          </a>
      {{/link-to}}
      {{#link-to 'students' class="ui item"}}
          <i class="user icon"></i>
          View Students
      {{/link-to}}
      {{#link-to 'populate-tables' class="ui item"}}
          <i class="upload icon"></i>
          Upload Data
      {{/link-to}}
      {{#link-to 'admission-rules' class="ui item"}}
          <i class="tasks icon"></i>
          Student Admission Rules
      {{/link-to}}
      {{#link-to 'distribution-results' class="ui item"}}
          <i class="database icon"></i>
          Distribute Students
      {{/link-to}}
      {{logout-user class="right menu"}}
    </div>
{{/if}}

{{outlet}}

{{ember-notify messageStyle='semantic-ui'}}
