<div class="ui body container">

    <div class="ui top grid">
        <div class="eight wide column">
            <h1 class="ui header">Basis Of Admission</h1>
        </div>
        <div class="eight wide column">
            {{basis-of-admission-create}}
        </div>
    </div>

    <table class="ui compact table">
        <thead>
        <tr>
            <th>Student</th>
            <th>Date</th>
            <th>Comment</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |basisOfAdmission|}}
            {{basis-of-admission-item basisOfAdmission=basisOfAdmission}}
        {{/each}}
        </tbody>
    </table>
</div>
