<div class="ui body container">

    <div class="ui top grid">
        <div class="eight wide column">
            <h1 class="ui header">Comment Codes</h1>
        </div>
        <div class="eight wide column">
            {{comment-code-create}}
        </div>
    </div>

    <table class="ui compact table">
        <thead>
        <tr>
            <th>Code</th>
            <th>Description</th>
            <th class="right aligned"></th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |comment_code|}}
            {{comment-code-item comment_code=comment_code}}
        {{/each}}
        </tbody>
    </table>
</div>
