<div class="ui body container">

    <div class="ui top grid">
        <div class="eight wide column">
            <h1 class="ui header">Countries</h1>
        </div>
        <div class="eight wide column">
            {{country-create}}
        </div>
    </div>

    <table class="ui compact table">
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |country|}}
            {{country-item country=country}}
        {{/each}}
        </tbody>
    </table>
</div>