<div class="ui body container">

    <div class="ui top grid">
        <div class="eight wide column">
            <h1 class="ui header">Course Codes</h1>
        </div>
        <div class="eight wide column">
            {{course-code-create}}
        </div>
    </div>

    <table class="ui compact table">
        <thead>
        <tr>
            <th>Code</th>
            <th>Number</th>
            <th>Name</th>
            <th>Unit</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |courseCode|}}
            {{course-code-item courseCode=courseCode}}
        {{/each}}
        </tbody>
    </table>
</div>