<div class="ui body container">

    <div class="ui top grid">
        <div class="eight wide column">
            <h1 class="ui header">Departments</h1>
        </div>
        <div class="eight wide column">
            {{department-create}}
        </div>
    </div>

    <table class="ui compact table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Faculty</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |department|}}
            {{department-item department=department}}
        {{/each}}
        </tbody>
    </table>
</div>