<div class="ui body container">

    <div class="ui top grid">
        <div class="eight wide column">
            <h1 class="ui header">Grades</h1>
        </div>
        <div class="eight wide column">
            {{grade-create}}
        </div>
    </div>

    <table class="ui compact table">
        <thead>
        <tr>
            <th>Mark</th>
            <th>Section</th>
            <th>Course Code</th>
            <th>Program Record</th>
            <th>Student</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |grade|}}
            {{grade-item grade=grade}}
        {{/each}}
        </tbody>
    </table>
</div>