<div class="ui body container" style="top: 72px;">
    {{home-page}}
</div>

<!--<img class="ui centered image" src="assets/images/homepagegraphic.png" alt="Welcome to SAS" />

<div class="footer">
    <div class="ui grid">
        <div class="eight wide column">
            <img class="float-right" src="assets/images/pineSmall.jpg"/>
        </div>
        <div class="center aligned eight wide column">
            <div class="float-left name-list">
                <strong>© Pine</strong> <br/>
                Stefan Kramreither <br/>
                Kirkland Landry <br/>
                Joseph Roussy <br/>
                Fabio Mona Torres <br/>
                Victor Villatoro
            </div>
        </div>
    </div>
</div>-->
