<div class="ui body container">

    <div class="ui top grid">
        <div class="eight wide column">
            <h1 class="ui header">High School Admission Averages</h1>
        </div>
        <div class="eight wide column">
            {{hs-admission-average-create}}
        </div>
    </div>

    <table class="ui compact table">
        <thead>
        <tr>
            <th>Student</th>
            <th>Grade 11 Avg</th>
            <th>First Avg</th>
            <th>Mid-Year Avg</th>
            <th>Final Avg</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |hsaa|}}
            {{hs-admission-average-item hsaa=hsaa}}
        {{/each}}
        </tbody>
    </table>
</div>