<div class="ui body container">

    <div class="ui top grid">
        <div class="eight wide column">
            <h1 class="ui header">ITR Programs</h1>
        </div>
        <div class="eight wide column">
            {{itr-program-create}}
        </div>
        <div class="three wide column">
            <button class="button create-button ui tiny positive" title = "Generate ITR Data"{{action "generateItrData"}}>Generate ITR Data</button>
        </div>
        <div class="three wide column">
            <button class="button create-button ui tiny negative" title="Clear ITR Data"{{action "clearItrData"}}>Clear ITR Data</button>
        </div>
        <div class="twelve wide column"></div>
    </div>

    <table class="ui compact table">
        <thead>
        <tr id="itr-program-head-row">
            <th>Student</th>
            <th>Program</th>
            <th>Order</th>
            <th>Eligibility</th>
            <th class="right aligned"></th>
        </tr>
        </thead>
        <tbody>
            {{#each model as |itr_program|}}
                {{itr-program-item itr_program=itr_program}}
            {{/each}}
            <!--
            {{#ember-collection items=model cell-layout=(fixed-grid-layout rowWidth 20) as |itr_program|}}
                {{itr-program-item itr_program=itr_program}}
            {{/ember-collection}}
            -->
        </tbody>
    </table>
</div>
