<div class="ui body container">

    <div class="ui top grid">
        <div class="eight wide column">
            <h1 class="ui header">Program Records</h1>
        </div>
        <div class="eight wide column">
            {{program-record-create}}
        </div>
    </div>

    <table class="ui compact table">
        <thead>
        <tr>
            <th>Level</th>
            <th>Status</th>
            <th>Comment</th>
            <th>Degree Code</th>
            <th>Term Code</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |programRecord|}}
            {{program-record-item programRecord=programRecord}}
        {{/each}}
        </tbody>
    </table>
</div>
