<div class="ui body container">

    <div class="ui top grid">
        <div class="eight wide column">
            <h1 class="ui header">Program Administrations</h1>
        </div>
        <div class="eight wide column">
            {{program-administration-create}}
        </div>
    </div>

    <table class="ui compact table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Department</th>
            <th>Academic Program Code</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |programAdministration|}}
            {{program-administration-item programAdministration=programAdministration}}
        {{/each}}
        </tbody>
    </table>
</div>