<div class="ui body container">

    <div class="ui top grid">
        <div class="eight wide column">
            <h1 class="ui header">Provinces</h1>
        </div>
        <div class="eight wide column">
            {{province-create}}
        </div>
    </div>

    <table class="ui compact table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |province|}}
            {{province-item province=province}}
        {{/each}}
        </tbody>
    </table>
</div>