<div class="ui body container">

    <div class="ui top grid">
        <div class="eight wide column">
            <h1 class="ui header">Manage Records</h1>
        </div>
        <div class="eight wide column">
        </div>
    </div>

    <!-- Any card that is shorter than the others has an extra <br/> in its description so they are all the same height -->

    <div class="ui stackable grid">
        <div class="four wide column">
            {{#link-to 'academic-loads' class="ui card"}}
                <div class="content">
                    <div class="header">Academic Loads</div>
                    <div class="meta">Miscellaneous</div>
                    <div class="description">View the academic loads in the database.</div>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'academic-program-codes' class="ui card"}}
                <div class="content">
                    <div class="header">Academic Programs</div>
                    <div class="meta">Code</div>
                    <div class="description">View the academic program codes in the database.</div>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'admission-rules' class="ui card"}}
                <div class="content">
                    <div class="header">Admission Rules</div>
                    <div class="meta">Rule</div>
                    <div class="description">View the admission rules in the database.</div>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'basis-of-admissions' class="ui card"}}
                <div class="content">
                    <div class="header">Basis of Admission</div>
                    <div class="meta">Miscellaneous</div>
                    <div class="description">View the Bases Of Admission in the database.</div>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'basis-of-admission-codes' class="ui card"}}
                <div class="content">
                    <div class="header">Basis of Admission Code</div>
                    <div class="meta">Code</div>
                    <div class="description">View the Basis Of Admission Codes in the database.</div>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'cities' class="ui card"}}
                <div class="content">
                    <div class="header">Cities</div>
                    <div class="meta">Location</div>
                    <div class="description">View the cities in the database.</div><br/>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'comment-codes' class="ui card"}}
                <div class="content">
                    <div class="header">Comment Codes</div>
                    <div class="meta">Code</div>
                    <div class="description">View the comment codes in the database.</div>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'countries' class="ui card"}}
                <div class="content">
                    <div class="header">Countries</div>
                    <div class="meta">Location</div>
                    <div class="description">View the countries in the database.</div><br/>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'course-codes' class="ui card"}}
                <div class="content">
                    <div class="header">Course Codes</div>
                    <div class="meta">Code</div>
                    <div class="description">View the course codes in the database.</div>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'degree-codes' class="ui card"}}
                <div class="content">
                    <div class="header">Degree Codes</div>
                    <div class="meta">Code</div>
                    <div class="description">View the degree codes in the database.</div>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'departments' class="ui card"}}
                <div class="content">
                    <div class="header">Departments</div>
                    <div class="meta">Section</div>
                    <div class="description">View the departments in the database.</div>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'faculties' class="ui card"}}
                <div class="content">
                    <div class="header">Faculties</div>
                    <div class="meta">Section</div>
                    <div class="description">View the faculties in the database.</div><br/>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'genders' class="ui card"}}
                <div class="content">
                    <div class="header">Genders</div>
                    <div class="meta">Miscellaneous</div>
                    <div class="description">View the genders in the database.</div><br/>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'grades' class="ui card"}}
                <div class="content">
                    <div class="header">Grades</div>
                    <div class="meta">Miscellaneous</div>
                    <div class="description">View the grades in the database.</div><br/>
                </div>
            {{/link-to}}
        </div>

        <div class="four wide column">
            {{#link-to 'hs-admission-averages' class="ui card"}}
                <div class="content">
                    <div class="header">High School Admission</div>
                    <div class="meta">Miscellaneous</div>
                    <div class="description">View the high school admission averages in the database</div>
                </div>
            {{/link-to}}
        </div>

        <div class="four wide column">
            {{#link-to 'hs-course-marks' class="ui card"}}
                <div class="content">
                    <div class="header">High School Course Marks</div>
                    <div class="meta">Miscellaneous</div>
                    <div class="description">View the high school course marks in the database</div>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'hs-subjects' class="ui card"}}
                <div class="content">
                    <div class="header">High School Subjects</div>
                    <div class="meta">Course</div>
                    <div class="description">View the high school subjects in the database</div>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'itr-programs' class="ui card"}}
                <div class="content">
                    <div class="header">ITR Programs</div>
                    <div class="meta">Program</div>
                    <div class="description">View the ITR programs in the database.</div>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'program-administrations' class="ui card"}}
                <div class="content">
                    <div class="header">Program Administrations</div>
                    <div class="meta">Administration</div>
                    <div class="description">View the program administrations in the database.</div>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'program-records' class="ui card"}}
                <div class="content">
                    <div class="header">Program Records</div>
                    <div class="meta">Record</div>
                    <div class="description">View the program records in the database.</div>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'provinces' class="ui card"}}
                <div class="content">
                    <div class="header">Provinces</div>
                    <div class="meta">Location</div>
                    <div class="description">View the provinces in the database.</div><br/>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'residencies' class="ui card"}}
                <div class="content">
                    <div class="header">Residencies</div>
                    <div class="meta">Miscellaneous</div>
                    <div class="description">View the residencies in the database.</div><br/>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'scholar-award-codes' class="ui card"}}
                <div class="content">
                    <div class="header">Scholar Award Codes</div>
                    <div class="meta">Miscellaneous</div>
                    <div class="description">View the scholar award codes in the database.</div>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'secondary-schools' class="ui card"}}
                <div class="content">
                    <div class="header">Secondary Schools</div>
                    <div class="meta">Record</div>
                    <div class="description">View the secondary schools in the database.</div>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'students' class="ui card"}}
                <div class="content">
                    <div class="header">Students</div>
                    <div class="meta">Record</div>
                    <div class="description">View the students in the database.</div><br/>
                </div>
            {{/link-to}}
        </div>
        <div class="four wide column">
            {{#link-to 'term-codes' class="ui card"}}
                <div class="content">
                    <div class="header">Term Codes</div>
                    <div class="meta">Code</div>
                    <div class="description">View the term codes in the database.</div><br/>
                </div>
            {{/link-to}}
        </div>
    </div>
</div>
