<div class="ui body container">

    <div class="ui top grid">
        <div class="eight wide column">
            <h1 class="ui header">Term Codes</h1>
        </div>
        <div class="eight wide column">
            {{term-code-create}}
        </div>
    </div>

    <table class="ui compact table">
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each model as |termCode|}}
            {{term-code-item termCode=termCode}}
        {{/each}}
        </tbody>
    </table>
</div>