<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WE Students Admission System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="icon" href="/assets/uwo.ico">
    <!--<link rel="stylesheet" href="assets/semantic.css">-->
    <!--<link rel="stylesheet" href="assets/components/popup.css">-->
    <!--<link rel="stylesheet" href="assets/components/modal.css">-->
    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/wesas.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}


    <script src="assets/amcharts/amcharts.js"></script>
    <script src="assets/amcharts/serial.js"></script>
    <script src="assets/amcharts/themes/light.js"></script>
    <!--<script src="assets/semantic.js"></script>-->
    <!--<script src="assets/components/tab.js"></script>-->
    <!--<script src="assets/components/modal.js"></script>-->
    <script src="assets/papaparse.min.js"></script>
    <script src="assets/jszip.js"></script>
    <script src="assets/cpexcel.js"></script>
    <script src="assets/ods.js"></script>
    <script src="assets/xlsx.min.js"></script>
    <script src="assets/vendor.js"></script>
    <script src="assets/wesas.js"></script>
    <script src="assets/pdfmake.min.js"></script>
    <script src="assets/vfs_fonts.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
